.icon-layout:before
   content "\e902"

.icon-car:before
   content "\e906"

.icon-restaurant:before
   content "\e56c"

.icon-automobile:before
   content "\e907"

.icon-home:before
   content "\e901"

.icon-office:before
   content "\e903"

.icon-newspaper:before
   content "\e904"

.icon-pencil:before
   content "\e905"

.icon-droplet:before
   content "\e90b"

.icon-image:before
   content "\e90d"

.icon-images:before
   content "\e90e"

.icon-camera:before
   content "\e90f"

.icon-headphones:before
   content "\e910"

.icon-film:before
   content "\e913"

.icon-podcast:before
   content "\e91c"

.icon-mic:before
   content "\e91e"

.icon-file-text:before
   content "\e922"

.icon-profile:before
   content "\e923"

.icon-files-empty:before
   content "\e925"

.icon-file-picture:before
   content "\e927"

.icon-file-music:before
   content "\e928"

.icon-file-play:before
   content "\e929"

.icon-file-video:before
   content "\e92a"

.icon-file-zip:before
   content "\e92b"

.icon-copy:before
   content "\e92c"

.icon-folder:before
   content "\e92f"

.icon-folder-open:before
   content "\e930"

.icon-folder-plus:before
   content "\e931"

.icon-folder-minus:before
   content "\e932"

.icon-folder-download:before
   content "\e933"

.icon-folder-upload:before
   content "\e934"

.icon-price-tag:before
   content "\e935"

.icon-price-tags:before
   content "\e936"

.icon-barcode:before
   content "\e937"

.icon-cart:before
   content "\e93a"

.icon-coin-dollar:before
   content "\e93b"

.icon-credit-card:before
   content "\e93f"

.icon-calculator:before
   content "\e940"

.icon-phone:before
   content "\e942"

.icon-phone-hang-up:before
   content "\e943"

.icon-address-book:before
   content "\e944"

.icon-envelop:before
   content "\e945"

.icon-pushpin:before
   content "\e946"

.icon-location:before
   content "\e947"

.icon-location2:before
   content "\e948"

.icon-compass:before
   content "\e949"

.icon-compass2:before
   content "\e94a"

.icon-clock:before
   content "\e94e"

.icon-clock2:before
   content "\e94f"

.icon-alarm:before
   content "\e950"

.icon-bell:before
   content "\e951"

.icon-calendar:before
   content "\e953"

.icon-printer:before
   content "\e954"

.icon-display:before
   content "\e956"

.icon-mobile:before
   content "\e958"

.icon-mobile2:before
   content "\e959"

.icon-drawer:before
   content "\e95c"

.icon-download:before
   content "\e960"

.icon-upload:before
   content "\e961"

.icon-floppy-disk:before
   content "\e962"

.icon-drive:before
   content "\e963"

.icon-database:before
   content "\e964"

.icon-undo2:before
   content "\e967"

.icon-redo2:before
   content "\e968"

.icon-bubble:before
   content "\e96b"

.icon-bubbles2:before
   content "\e96d"

.icon-user:before
   content "\e971"

.icon-users:before
   content "\e972"

.icon-user-plus:before
   content "\e973"

.icon-user-minus:before
   content "\e974"

.icon-user-check:before
   content "\e975"

.icon-hour-glass:before
   content "\e979"

.icon-spinner5:before
   content "\e97e"

.icon-search:before
   content "\e986"

.icon-zoom-in:before
   content "\e987"

.icon-zoom-out:before
   content "\e988"

.icon-enlarge:before
   content "\e989"

.icon-shrink:before
   content "\e98a"

.icon-lock:before
   content "\e98f"

.icon-unlocked:before
   content "\e990"

.icon-wrench:before
   content "\e991"

.icon-cog:before
   content "\e994"

.icon-stats-dots:before
   content "\e99b"

.icon-stats-bars2:before
   content "\e99d"

.icon-gift:before
   content "\e99f"

.icon-glass:before
   content "\e9a0"

.icon-glass2:before
   content "\e9a1"

.icon-mug:before
   content "\e9a2"

.icon-spoon-knife:before
   content "\e9a3"

.icon-leaf:before
   content "\e9a4"

.icon-rocket:before
   content "\e9a5"

.icon-meter2:before
   content "\e9a7"

.icon-fire:before
   content "\e9a9"

.icon-magnet:before
   content "\e9ab"

.icon-bin:before
   content "\e9ac"

.icon-briefcase:before
   content "\e9ae"

.icon-airplane:before
   content "\e9af"

.icon-truck:before
   content "\e9b0"

.icon-accessibility:before
   content "\e9b2"

.icon-switch:before
   content "\e9b6"

.icon-clipboard:before
   content "\e9b8"

.icon-list-numbered:before
   content "\e9b9"

.icon-tree:before
   content "\e9bc"

.icon-cloud-upload:before
   content "\e9c3"

.icon-download3:before
   content "\e9c7"

.icon-sphere:before
   content "\e9c9"

.icon-earth:before
   content "\e9ca"

.icon-link:before
   content "\e9cb"

.icon-attachment:before
   content "\e9cd"

.icon-eye:before
   content "\e9ce"

.icon-eye-plus:before
   content "\e9cf"

.icon-eye-minus:before
   content "\e9d0"

.icon-eye-blocked:before
   content "\e9d1"

.icon-sun:before
   content "\e9d4"

.icon-brightness-contrast:before
   content "\e9d6"

.icon-star-empty:before
   content "\e9d7"

.icon-star-full:before
   content "\e9d9"

.icon-heart:before
   content "\e9da"

.icon-man:before
   content "\e9dc"

.icon-woman:before
   content "\e9dd"

.icon-man-woman:before
   content "\e9de"

.icon-plus:before
   content "\ea0a"

.icon-minus:before
   content "\ea0b"

.icon-cancel-circle:before
   content "\ea0d"

.icon-blocked:before
   content "\ea0e"

.icon-cross:before
   content "\ea0f"

.icon-checkmark:before
   content "\ea10"

.icon-enter:before
   content "\ea13"

.icon-exit:before
   content "\ea14"

.icon-play2:before
   content "\ea15"

.icon-pause:before
   content "\ea16"

.icon-stop:before
   content "\ea17"

.icon-play3:before
   content "\ea1c"

.icon-volume-high:before
   content "\ea26"

.icon-volume-medium:before
   content "\ea27"

.icon-volume-mute2:before
   content "\ea2a"

.icon-sort-alpha-asc:before
   content "\ea48"

.icon-sort-alpha-desc:before
   content "\ea49"

.icon-google:before
   content "\ea88"

.icon-google-plus3:before
   content "\ea8d"

.icon-hangouts:before
   content "\ea8e"

.icon-google-drive:before
   content "\ea8f"

.icon-facebook:before
   content "\ea90"

.icon-facebook2:before
   content "\ea91"

.icon-instagram:before
   content "\ea92"

.icon-whatsapp:before
   content "\ea93"

.icon-rss:before
   content "\ea9b"

.icon-dropbox:before
   content "\eaae"

.icon-onedrive:before
   content "\eaaf"

.icon-chrome:before
   content "\ead9"

.icon-firefox:before
   content "\eada"

.icon-edge:before
   content "\eadc"

.icon-safari:before
   content "\eadd"

.icon-file-pdf:before
   content "\eadf"

.icon-file-word:before
   content "\eae1"

.icon-file-excel:before
   content "\eae2"
