@import "nib"
@font-face
   font-family Roboto-Black
   src url(../fonts/Roboto-Black.ttf)
@font-face
   font-family Roboto-BlackItalic
   src url(../fonts/Roboto-BlackItalic.ttf)
@font-face
   font-family Roboto-Bold
   src url(../fonts/Roboto-Bold.ttf)
@font-face
   font-family Roboto-BoldCondensed
   src url(../fonts/Roboto-BoldCondensed.ttf)
@font-face
   font-family Roboto-BoldCondensedItalic
   src url(../fonts/Roboto-BoldCondensedItalic.ttf)
@font-face
   font-family Roboto-BoldItalic
   src url(../fonts/Roboto-BoldItalic.ttf)
@font-face
   font-family Roboto-Condensed
   src url(../fonts/Roboto-Condensed.ttf)
@font-face
   font-family Roboto-BoldCondensed
   src url(../fonts/Roboto-BoldCondensed.ttf)
@font-face
   font-family Roboto-CondensedItalic
   src url(../fonts/Roboto-CondensedItalic.ttf)
@font-face
   font-family Roboto-Italic
   src url(../fonts/Roboto-Italic.ttf)
@font-face
   font-family Roboto-Light
   src url(../fonts/Roboto-Light.ttf)
@font-face
   font-family Roboto-LightItalic
   src url(../fonts/Roboto-LightItalic.ttf)
@font-face
   font-family Roboto-Medium
   src url(../fonts/Roboto-Medium.ttf)
@font-face
   font-family Roboto-MediumItalic
   src url(../fonts/Roboto-MediumItalic.ttf)
@font-face
   font-family Roboto-Regular
   src url(../fonts/Roboto-Regular.ttf)
@font-face
   font-family Roboto-Thin
   src url(../fonts/Roboto-Thin.ttf)
@font-face
   font-family Roboto-ThinItalic
   src url(../fonts/Roboto-ThinItalic)
@font-face
    font-family 'icomoon'
    src url('../fonts/icomoon.eot?bupzat')
    src url('../fonts/icomoon.eot?bupzat#iefix') format('embedded-opentype'),
        url('../fonts/icomoon.ttf?bupzat') format('truetype'),
        url('../fonts/icomoon.woff?bupzat') format('woff'),
        url('../fonts/icomoon.svg?bupzat#icomoon') format('svg')
    font-weight normal
    font-style normal

[class^="icon-"], [class*=" icon-"]
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family 'icomoon' !important
    speak none
    font-style normal
    font-weight normal
    font-variant normal
    text-transform none
    line-height 1

    /* Better Font Rendering =========== */
    -webkit-font-smoothing antialiased
    -moz-osx-font-smoothing grayscale
a
   text-decoration none
   cursor pointer
   outline none
body
   background-color #f9f9f9
   font-family Roboto-Light
   margin 0px
   padding 0px
   *
      box-sizing border-box
html
  position relative
  min-height 100%

header
   position relative
   width 100%
   z-index 200
body.remodal-is-active .remodal-overlay   
   opacity 1
body.remodal-is-active .remodal-bg
   -webkit-filter blur(3px)
   -ms-filter blur(3px)
   filter blur(3px)
   -moz-filter blur(3px)
   -o-filter blur(3px)
body.remodal-is-active .remodal   
   transform scale(1)
   opacity 1
   
html.remodal-is-locked
   overflow hidden

// .lt-ie9 .remodal-overlay
//    filter progid:DXImageTransform.Microsoft.gradient(startColorstr=#F021242E, endColorstr=#F021242E)
// .lt-ie9 .remodal
//    width 700px
//    min-height 0
//    margin 20px auto      
// .lt-ie9 .remodal-close:after
//    margin auto
//    text-align center
// .lt-ie9 .remodal-close:hover, .lt-ie9 .remodal-close:active
//    background transparent
// .lt-ie9 .remodal-close:hover.remodal-close:after, .lt-ie9 .remodal-close:active.remodal-close:after
//    color #3e5368
.Admin-listar-propietarios
  width 100%
  p
    padding 10px 15px 10px 15px
.Admin-back
  background-color #00bfa5
  
.Admin-log
  display table
  height 100vh
  position relative
  width 100%
  &-int
    display table-cell
    height 100%
    text-align center
    vertical-align middle
    &-form
      border-radius 10px
      background-color #fff
      box-shadow 0 30px 50px -15px rgba(0,0,0,0.35)
      margin 0px auto
      padding 10px 20px 20px 20px
      width 350px
      input[type="submit"]
        background-color #b213ae
        border none
        border-radius 5px
        cursor pointer
        color #fff !important
        display block
        font-family Roboto-Bold
        font-size 15px
        letter-spacing .5px
        margin-top 5px
        padding 13px 24px 13px 24px !important
        transition 0.3s
        box-shadow 0 4px 6px rgba(50,50,93,0.11), 0 1px 3px rgba(0,0,0,0.08)
        width 100%
        text-align center
        margin 0 auto
      label
        display block
        font-size 13px
        text-align left
        font-family Roboto-Bold
        color #999        
        margin-top 10px
        margin-bottom 5px
.Apoyo
  padding 1em 0px 4em 0px
  text-align center
  width 100%
  &-int
    width 80%
    margin 0px auto
    text-align center
    h2
      padding-top 1em
    img
      margin 0px auto
      width 100%
    p
      line-height 30px
.Arren-Potencial
   box-shadow 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12)
   margin 0px auto
   padding 10px
   width 100%
   transition .3s
   &-bottom
      display block
      padding 23px 0 10px 0px
      width 100%
   // &:hover
   //    background-color #f9f9f9
   
   &-izq, &-der
      display inline-block
      vertical-align top
      width 49.6%
.Aling-center
   margin 0px auto
   text-align center
.Boton-blanco-atras   
   border 1px solid #dddddd
   border-radius 3px
   background-color #fff
   color #484848
   font-family Roboto-Bold
   padding 10px
   transition .3s
   &:hover
      background-color #f2f2f2
.Box
  margin 0px auto
  border-left 1px solid #eaeaea
  border-right 1px solid #eaeaea
  border-bottom 1px solid #eaeaea
  padding-bottom 2em
  width 100%
  &-inter
    margin 0px auto
    text-align center
    width 100%
    h2
      background-color #333
      color #fff
      font-family Roboto-Bold
      font-size 20px
      padding 18px 5px 18px 5px
      margin 0px
    p
      font-size 14px
      text-align justify
      padding 10px 20px 0px 20px
      line-height 22px
.Busca-home
  margin 0px auto
  padding-top 1em
  width 1000px
  &-sec
    display table-cell
    vertical-align middle
    padding 0px 6px
    width 19%
    
.Busqueda-avanzada
  overflow auto
  width 100%
  &-cont
    margin 0px auto
    padding 14px
    width 95%
    &-sec
      display inline-block
      vertical-align top
      width 49.7%
      
.Btn-circulo
  text-align center
  margin 0px auto
  position absolute
  width 100%
  a
    background-color #b213ae
    color #fff
    padding 9px 9px 7px 10px
    border-radius 50%
  
.Btn-atras-vinculo
   color #565656
   font-family Roboto-Bold
   text-decoration none
.Btn-atras-vinculo-div
   padding-top 18px
.Btn-iniciar
   background-color #00bfa5
   border-radius 5px
   color #fff !important
   font-family Roboto-Bold
   padding 16px 24px 16px 24px !important
   transition .3s
   box-shadow 0 4px 6px rgba(50,50,93,.11), 0 1px 3px rgba(0,0,0,.08)
   &:hover
      background-color #07D8BA
      box-shadow 0 7px 14px rgba(50,50,93,.1), 0 3px 6px rgba(0,0,0,.08)
.Btn-siguiente
   background-color #00bfa5
   border none
   border-radius 5px
   cursor pointer
   color #fff !important
   font-family Roboto-Bold
   font-size 15px
   letter-spacing 0.5px
   margin-top 5px
   padding 13px 24px 13px 24px !important
   transition .3s
   box-shadow 0 4px 6px rgba(50,50,93,.11), 0 1px 3px rgba(0,0,0,.08)
   &:hover
      background-color #07D8BA
      box-shadow 0 7px 14px rgba(50,50,93,.1), 0 3px 6px rgba(0,0,0,.08)
.Btn-verde
   background-color #00bfa5
   border none
   border-radius 5px
   cursor pointer
   color #fff !important
   font-family Roboto-Bold
   font-size 15px
   letter-spacing 0.5px
   margin-top 5px
   padding 13px 24px 13px 24px !important
   transition .3s
   box-shadow 0 4px 6px rgba(50,50,93,.11), 0 1px 3px rgba(0,0,0,.08)
   &:hover
      background-color #07D8BA
      box-shadow 0 7px 14px rgba(50,50,93,.1), 0 3px 6px rgba(0,0,0,.08)
.Btn-anterior
   background-color #808080
   border none
   border-radius 5px
   cursor pointer
   color #fff !important
   font-family Roboto-Bold
   font-size 15px
   letter-spacing 0.5px
   margin-top 5px
   padding 13px 24px 13px 24px !important
   transition .3s
   box-shadow 0 4px 6px rgba(50,50,93,.11), 0 1px 3px rgba(0,0,0,.08)
   &:hover
      background-color #b1b1b1
      box-shadow 0 7px 14px rgba(50,50,93,.1), 0 3px 6px rgba(0,0,0,.08)
.Btn-verdeoscuro
   background-color #267F73
   border none
   border-radius 5px
   cursor pointer
   color #fff !important
   font-family Roboto-Bold
   font-size 15px
   letter-spacing 0.5px
   margin-top 5px
   padding 13px 24px 13px 24px !important
   transition .3s
   box-shadow 0 4px 6px rgba(50,50,93,.11), 0 1px 3px rgba(0,0,0,.08)
   &:hover
      background-color #00BFA5
      box-shadow 0 7px 14px rgba(50,50,93,.1), 0 3px 6px rgba(0,0,0,.08)
.Btn-rojo
   background-color #f97777
   border none
   border-radius 5px
   cursor pointer
   color #fff !important
   font-family Roboto-Bold
   font-size 15px
   letter-spacing 0.5px
   margin-top 5px
   padding 13px 24px 13px 24px !important
   transition .3s
   box-shadow 0 4px 6px rgba(50,50,93,.11), 0 1px 3px rgba(0,0,0,.08)
   &:hover
      background-color #ff9f9f
      box-shadow 0 7px 14px rgba(50,50,93,.1), 0 3px 6px rgba(0,0,0,.08)
.Btn-gris
   background-color #808080
   border none
   border-radius 5px
   cursor pointer
   color #fff !important
   font-family Roboto-Bold
   font-size 15px
   letter-spacing 0.5px
   margin-top 5px
   padding 13px 24px 13px 24px !important
   transition .3s
   box-shadow 0 4px 6px rgba(50,50,93,.11), 0 1px 3px rgba(0,0,0,.08)
   &:hover
      background-color #b1b1b1
      box-shadow 0 7px 14px rgba(50,50,93,.1), 0 3px 6px rgba(0,0,0,.08)
.Btn-izq
   margin-top 10px
   text-align left
.Big
   font-size 20px
   font-family Roboto-Bold
.Bold
   font-family Roboto-Bold !important
   letter-spacing 0.5px
   line-height 23px
.Center
   text-align center
.Contenedor-desc
  padding 2em 0px
  width 100%
  &-int
    border-bottom 1px solid #ddd
    width 100%
    .Vin
      padding 0px 0px
    .Vin-anc
      height 50px
    .Vin-active
      border-bottom 2px solid #2771f8
      background #F0EDE4
    &-contexto
      padding 10px 10px
      p, li
        font-size 14px
        line-height 24px
        font-family Roboto-Light
.Cont-formulario
  width 100%
  &-int
    padding 20px
    &-sec
      display inline-block
      vertical-align top
      padding 10px 20px
      width 49%
      label
        text-align left
        font-family Roboto-Bold
        color #666
        font-size 12px
        margin-bottom 10px
        display block
      input[type=text]
        border none
        background #f9f9f9
        border 1px solid #ddd
        border-radius 3px
        padding 10px
        width 100%
        margin-bottom 10px
       select
        border none
        background #f9f9f9
        border 1px solid #ddd
        border-radius 3px
        padding 10px
        width 100%
        margin-bottom 10px
      
.Conten-docs-legal  
  width 100%
  &-sec
    border 1px solid #ddd
    display inline-block
    width 23%    
    font-size 13px
    overflow hidden    
    vertical-align top
    margin 10px
    padding 20px 0px
    box-shadow 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12)   
  &-text
    overflow hidden
    padding 18px 14px 18px 14px
    text-overflow ellipsis
    white-space nowrap
    span
      color #484848
      font-size 15px
      font-family Roboto-Condensed
  &-btn
    text-align center
.Contacto
  width 100%
  &-fondo
    background-image url(../images/bg-contact.jpg)
    background-position center center
    background-repeat no-repeat
    background-size cover
    height 250px
  &-int
    margin 0px auto
    text-align center
    padding 3em 0px 2em 0px
    width 80%
    &-lado
      display inline-block
      vertical-align top
      padding 0px 15px
      margin 0px auto
      text-align left
      width 45%
      p
        text-align justify
        line-height 24px
.Conten-dashboard
   background-color #fff
   width 100%
   &-int
      box-shadow 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12)
      margin 0px auto
      width 100%
      &-title
         padding 10px 15px
         border-bottom 1px solid #ddd
         h2
            font-size 20px
      &-conte
         overflow auto
         padding 15px 15px
         &-full
            margin 0px auto
            text-align center
         
.Conten-dis
   width 100%
   p
      text-align center
   p span
      color #999
      text-align center
      text-transform uppercase
      font-family Roboto-Bold
.Component-help
   margin 0px auto
   right 0px   
   width 90%
   &-sec
      background-color #fdf8d7
      border 1px solid #fdd1c0
      border-radius 3px
      margin-top 20px
      padding 10px 15px
.Conten-boton   
   margin 0px auto
   text-align center
   padding 15px 0px
   
.Component-map
   margin-top 20px
   width 100%
   #map
      border 1px solid #ddd
      height 300px
      width 100%
      iframe
         width 100%
.Contenedor-principal-izq-full
   transform translateX(0) !important
   
.Contenedor-principal
  position relative
  width 100%  
  *
    box-sizing border-box
  &-izq
    background #fff
    box-shadow 0 0 5px 0 rgba(0,0,0,.35)
    flex-shrink 0
    height 100%
    overflow-y auto
    position fixed
    z-index 51
    width 280px
    transform translateX(-282px)
    transition .5s
    
    &-menu
      padding 64px 0px 0px 0px
      .Menu-izq
        padding-left 0px
        li
          list-style none          
          border-bottom 1px solid #f2f2f2
          a
            color #969696
            cursor pointer
            display block
            font-family Roboto-Bold
            padding 16px 10px 16px 10px
            
            &:hover              
              background #ededed           
              color #0c378a
          i
            padding 0px 16px 0px 16px 
.Conten-div    
   display block
   padding 18px 0 18px 0
.Conten-admin-text
   padding 10px 0px
   line-height 24px
   h2
      font-size 18px
      padding-bottom 18px
.Corazon-home
  font-size 24px
.Conten-med
  margin 0px auto
  width 80%
  p
    line-height 26px
.Conten-progress
   margin 0px auto
   width 90%
   &-int
      background-color #ffffff
      box-shadow 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12)
      border-radius 3px
      margin-top 20px
      padding 10px 15px
      &-izq         
         width 74%
         &-super
            display table
            height 134px
            position relative
         &-medio
            display table-cell
            height 100%
            text-align left
            line-height 24px
            vertical-align middle
            p
               font-size 14px
               margin-top 5px
               
            h2
               font-size 18px
               font-family Roboto-Bold
               margin-bottom 0px
            
      &-der
         width 24%
         img
            width 90px
      &-izq, &-der
         display inline-block
         vertical-align top
.Contenido
  margin 0px auto
  width 100%
  &-interno-nos
    margin 0px auto
    padding 5em 0px 2em 0px
    width 70%
    h1
      color #484848
      font-size 30px
      font-family Roboto-Bold
    &-nosotros-texto
       width auto
       p
         line-height 23px
         padding 0px 20px
         span
           color #484848
           font-family Roboto-Condensed
    &-nosotros
      background-color #fff
      border-radius 3px
      box-shadow 0 0 8px rgba(0,0,0,0.26)
      overflow hidden
      margin 0px auto 25px auto
      padding 10px
      width 100%
      &-int
        margin 0px auto
        padding-top 1em     
        width 90%
        &-conte
          margin 0px auto 
          text-align center
          padding 2em 0px
        p
          text-align justify
          line-height 23px
        &-sec
          display inline-block
          vertical-align top
          margin 0px auto
          text-align center
          width 25%
          h2
            font-family Roboto-Bold
            color #484848
            margin-bottom 8px
        &-img
          border-radius 50%          
          width 160px
          height 160px
          position relative
          margin 0px auto
          overflow hidden
          img
            width 100%
          
        
      
    
     
        
.Conten-stats
  padding 8px 0px
  span
    font-size 14px
    letter-spacing 0.5px
.Contenido-para-busqueda
  margin 0px auto
  padding 2em 0px
  text-align center
  width 100%
  
  
.Contenedor-tiempo-mail
   line-height 28px
.Contenedor-bottom
   padding 20px
   width 100%
.Conten-white2
   background-color transparent
   padding-top 110px
   padding-bottom 2em
   width 100%
.Conten-white
   background-color #fff
   padding-top 110px
   padding-bottom 2em
   width 100%
   &-full
      margin 0px auto      
      width 90%
   &-int
      margin 0px auto
      width 80%
      &-izq, &-der
         display inline-block
         vertical-align top
         width 49.7%
.Cotenido-inmuebles
   background linear-gradient(to bottom right, #00bfa5 20%, #04a791 100%)
   // background-color #00bfa5
   margin 0px auto
   padding 2em 0px
   width 100%
   &-int
      margin 0px auto
      text-align center
      width 90%
      &-card
         cursor pointer
         background-color #fff
         border-radius 3px
         box-shadow 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12)
         display inline-block
         margin 15px
         vertical-align top
         min-width 300px
         max-width 300px
         transition .3s ease-out
         &:hover
            box-shadow 0 8px 17px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19)
            // box-shadow 0 15px 35px rgba(50,50,93,.1), 0 5px 15px rgba(0,0,0,.07)
         &-image
           height 100%
           width 100%
           &-con
             background-image url(../images/inmuebles/prueba2.jpg)
             background-position center center
             height 177px !important
             position relative
             overflow hidden
             background-size cover
             
         &-text
            white-space nowrap !important
            overflow hidden !important
            text-overflow ellipsis !important
            text-align left
            padding 10px 15px 10px 15px
            &-titulo
               color #484848 !important         
               font-family Roboto-Bold
               line-height 23px
               word-wrap break-word !important
            &-tipo
               display block
               color #444
               font-size 14px
               line-height 30px
               word-wrap break-word
               white-space nowrap
               overflow hidden
               text-overflow ellipsis
            &-ind
               color #666
               font-size 12px
               font-family Roboto-Bold
.dash_noti
  padding 14px 5px 0px 5px
  display block
  font-size 14px
  color #ee6e73
  text-align center
  font-family Roboto-Bold
.doc-cedula a
  background-color #b213ae
  color #fff
  box-shadow 0 4px 6px rgba(50,50,93,0.11), 0 1px 3px rgba(0,0,0,0.08)
  font-family Roboto-Bold
  padding 10px
  border-radius 5px
  text-align center
  display block
  transition .3s
  &:hover
    background-color #dc1bd7
    box-shadow 0 7px 14px rgba(50,50,93,0.1), 0 3px 6px rgba(0,0,0,0.08)
.Drag
   border 1px solid #ddd
   width 100%
   margin 10px 0px
   
.Divi3
   border solid #eaeaea
   border-width 1px 0 0
   clear both
   margin 1.25rem 0 1.1875rem
   height 0
   margin-bottom 19px
   text-align
.Divi4
   border solid #eaeaea
   border-width 1px 0 0
   clear both
   margin 1.25rem 0 1.1875rem
   height 0
   margin-bottom 19px
   text-align 
.Erro-page
  display table
  height 100vh
  position relative
  width 100%
  &-int
    display table-cell
    height 100%
    text-align center
    vertical-align middle
    ul
      margin 0px
      padding 0px
      width auto
      li
        list-style none
        display inline-block
        a
          color #02ad91
          font-family Roboto-Bold
          padding 10px
          &:hover
            color #0cc3a5
      
    h1
      color #484848
      font-size 65px
      margin 0px
      font-family Roboto-Bold
      
    img
      padding-top 30px
      padding-bottom 20px
      width 280px
    
.easy-autocomplete
  width 100% !important
.Form-three
   display inline-block
   vertical-align bottom
   width 32.7%
.Form-simbol
   color #666
   background-color #dbdbdb
   display inline-block
   padding 10px 2px 10px 8px
   width 30px
   margin-bottom 8px
   vertical-align bottom
   
.Form-izq, .Form-der
   display inline-block
   vertical-align top
   width 49.5%
.Form-ow-regis
   width 416px
.Form-title
   display block
   margin-bottom 10px 
   margin-top 10px
.footerl
  position absolute
  bottom 0
  width 100%
.Forms
   text-align left
   width 100%
   input[type=text]
      border 1px solid #999
      border-radius 3px
      font-size 17px
      font-family Roboto-Condensed
      line-height 20px      
      margin-bottom 8px
      outline none
      padding 0.5em 0.5em 0.5em 0.5em
      transition .3s
      width 100%
      &:focus
         border 1px solid #00bfa5
   input[type=number]
      border 1px solid #999
      border-radius 3px
      font-size 17px
      font-family Roboto-Condensed
      line-height 20px      
      margin-bottom 8px
      outline none
      padding 0.5em 0.5em 0.5em 0.5em
      transition .3s
      width 100%
      &:focus
         border 1px solid #00bfa5
   input[type=password]
      border 1px solid #999
      border-radius 3px
      font-size 17px
      font-family Roboto-Condensed
      line-height 20px      
      margin-bottom 8px
      outline none
      padding 0.5em 0.5em 0.5em 0.5em
      transition .3s
      width 100%
      &:focus
         border 1px solid #00bfa5
   input[type=email]
      border 1px solid #999
      border-radius 3px
      font-size 17px
      font-family Roboto-Condensed
      line-height 20px      
      margin-bottom 8px
      outline none
      padding 0.5em 0.5em 0.5em 0.5em
      transition .3s
      width 100%
      &:focus
         border 1px solid #00bfa5
   input[type=checkbox]
      text-align left
   select
      background-color #fff
      border-radius 3px
      border 1px solid #999
      font-size 17px
      font-family Roboto-Condensed
      line-height 20px      
      margin-bottom 8px
      outline none
      padding 0.5em 0.5em 0.4em 0.5em
      transition .3s
      width 100%
      &:focus
         border 1px solid #00bfa5
   textarea
      border 1px solid #999
      border-radius 3px
      font-size 17px
      font-family Roboto-Condensed
      height 90px
      line-height 20px      
      margin-bottom 8px
      outline none
      padding 0.5em 0.5em 0.5em 0.5em
      transition .3s
      width 100%
      &:focus
         border 1px solid #00bfa5
   .Checkbox
      display block
      text-align left
.Filtro
  display none
.Form-subir
   margin-bottom 10px
.Form-subir:focus
   outline none
.Form-subir::before
  color #fff
  content "Selecciona archivo"
  display inline-block  
  background #00aa8d
  border 2px solid #00aa8d
  font-family Roboto-Bold
  font-weight 200
  font-size 14px
  font-weight 300
  border-radius 3px
  outline none  
  opacity 1
  -webkit-user-select none
  cursor pointer
  padding 0.5em 0.3em 0.5em 0.3em
  transition .3s
.Form-subir:hover::before
  border 2px solid #008975
  background #008975

.Form-subir:active::before
  background -webkit-linear-gradient(top, #e3e3e3, #f9f9f9)
.Form-subir::-webkit-file-upload-button
  visibility hidden
  margin 0px     
.Forms-step
   width 100%
   padding 10px 0px
   &-izq
      float left
   &-der
      float right
   &-izq, &-der
      display inline-block
      white-space nowrap
.Form-check
   margin-bottom 10px
   width 100%
   [type="checkbox"]:not(:checked),[type="checkbox"]:checked
      position absolute
      left -9999px
      opacity 0
   [type="checkbox"] + label
      position relative
      padding-left 35px
      cursor pointer
      display inline-block
      height 25px
      line-height 25px
      font-size 1rem
      -webkit-user-select none
      -moz-user-select none
      -khtml-user-select none
      -ms-user-select none
   [type="checkbox"] + label:before,[type="checkbox"]:not(.filled-in) + label:after
      content ''
      position absolute
      top 0
      left 0
      width 18px
      height 18px
      z-index 0
      border 2px solid #5a5a5a
      border-radius 1px
      margin-top 2px
      -webkit-transition .2s
      transition .2s
   [type="checkbox"]:not(.filled-in) + label:after
      border 0
      -webkit-transform scale(0)
      transform scale(0)
   [type="checkbox"]:not(:checked):disabled + label:before
      border none
      background-color rgba(0, 0, 0, 0.26)
   [type="checkbox"].tabbed:focus + label:after
      -webkit-transform scale(1)
      transform scale(1)
      border 0
      border-radius 50%
      -webkit-box-shadow 0 0 0 10px rgba(0, 0, 0, 0.1)
      box-shadow 0 0 0 10px rgba(0, 0, 0, 0.1)
      background-color rgba(0, 0, 0, 0.1)
   [type="checkbox"]:checked + label:before
      top -4px
      left -5px
      width 12px
      height 22px
      border-top 2px solid transparent
      border-left 2px solid transparent
      border-right 2px solid #26a69a
      border-bottom 2px solid #26a69a
      -webkit-transform rotate(40deg)
      transform rotate(40deg)
      -webkit-backface-visibility hidden
      backface-visibility hidden
      -webkit-transform-origin 100% 100%
      transform-origin 100% 100%
   [type="checkbox"]:checked:disabled + label:before
      border-right 2px solid rgba(0, 0, 0, 0.26)
      border-bottom 2px solid rgba(0, 0, 0, 0.26)
   /* Indeterminate checkbox */
   [type="checkbox"]:indeterminate + label:before
      top -11px
      left -12px
      width 10px
      height 22px
      border-top none
      border-left none
      border-right 2px solid #26a69a
      border-bottom none
      -webkit-transform rotate(90deg)
      transform rotate(90deg)
      -webkit-backface-visibility hidden
      backface-visibility hidden
      -webkit-transform-origin 100% 100%
      transform-origin 100% 100%
   [type="checkbox"]:indeterminate:disabled + label:before
      border-right 2px solid rgba(0, 0, 0, 0.26)
      background-color transparent
   [type="checkbox"].filled-in + label:after
      border-radius 2px
      
   [type="checkbox"].filled-in + label:before,[type="checkbox"].filled-in + label:after 
      content ''
      left 0
      position absolute
      -webkit-transition border .25s, background-color .25s, width .20s .1s, height .20s .1s, top .20s .1s, left .20s .1s
      transition border .25s, background-color .25s, width .20s .1s, height .20s .1s, top .20s .1s, left .20s .1s
      z-index 1
   [type="checkbox"].filled-in:not(:checked) + label:before
      width 0
      height 0
      border 3px solid transparent
      left 6px
      top 10px
      -webkit-transform rotateZ(37deg)
      transform rotateZ(37deg)
      -webkit-transform-origin 20% 40%
      transform-origin 100% 100%
   [type="checkbox"].filled-in:not(:checked) + label:after
      height 20px
      width 20px
      background-color transparent
      border 2px solid #5a5a5a
      top 0px
      z-index 0
   [type="checkbox"].filled-in:checked + label:before
      top 0
      left 1px
      width 6px
      height 12px
      border-top 2px solid transparent
      border-left 2px solid transparent
      border-right 2px solid #fff
      border-bottom 2px solid #fff
      -webkit-transform rotateZ(37deg)
      transform rotateZ(37deg)
      -webkit-transform-origin 100% 100%
      transform-origin 100% 100%
   [type="checkbox"].filled-in:checked + label:after
      top 0
      width 20px
      height 20px
      border 2px solid #26a69a
      background-color #26a69a
      z-index 0
   [type="checkbox"].filled-in.tabbed:focus + label:after
      border-radius 2px
      border-color #5a5a5a
      background-color rgba(0, 0, 0, 0.1)
   [type="checkbox"].filled-in.tabbed:checked:focus + label:after
      border-radius 2px
      background-color #26a69a
      border-color #26a69a
   [type="checkbox"].filled-in:disabled:not(:checked) + label:before
      background-color transparent
      border 2px solid transparent
   [type="checkbox"].filled-in:disabled:not(:checked) + label:after
      border-color transparent
      background-color #BDBDBD
   [type="checkbox"].filled-in:disabled:checked + label:before
      background-color transparent
   [type="checkbox"].filled-in:disabled:checked + label:after
      background-color #BDBDBD
      border-color #BDBDBD     
.Bggris
   background-color #f2f2f2 !important
.Con-filtro
  padding 20px 10px
  width 100%
  input
    border none
    border-bottom 2px solid #ddd
    padding 10px
    outline none
    font-size 14px
    width 250px
    transition .3s
    &:focus
      border-bottom 2px solid #0c378a
  input[type=submit]
    background #0c378a
    border none
    cursor pointer
    border-radius 5px
    font-size 14px
    color #fff
    font-family Roboto-Bold
    padding 12px 20px
    transition 0.3s
    width 150px
  select
    border none
    background #fff
    border-bottom 2px solid #ddd
    padding 10px
    outline none
    font-size 14px
    width 250px
    transition .3s
    &:focus
      border-bottom 2px solid #0c378a
  
  
.Green
   color green    
.Header-busqueda  
  position fixed
  padding-top 79px
  width 100%
  box-shadow 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12)
  z-index 2
  &-int
    background-color #fff
    padding 25px 0 10px 0
    &-conten
      margin 0px auto
      padding 5px 5px 0px 5px
      width 95%
    &-sec
      display table-cell
      padding 0px 10px
      vertical-align middle
      width 10%
      font-family Roboto-Bold
.Home-dos-texttitle
  padding-top 45px
  padding-right 15px
  h2
    text-align left
    font-size 43px !important
    line-height 51px
.Home-dos
  margin 0px auto
  width 80%
  &-izq
    width 50%
  &-der
    width 40%
  &-izq, &-der
    display inline-block
    vertical-align top
    
  &-der-regis
    background-color rgba(255, 255, 255, 0.88)
    border-radius 10px
    box-shadow 0 30px 50px -15px rgba(0,0,0,0.35)
    padding 4px 10px 25px 10px
    margin 0px auto
    width 396px
    h2
      color #666 !important
      font-size 24px !important
    
  &-der-form
    // background-color #fff      
    padding 80px 10px 10px 10px
    input[type="text"]
      border 1px solid #999
      border-radius 3px
      font-size 17px
      font-family Roboto-Condensed
      line-height 20px
      margin-bottom 8px
      outline none
      padding .5em .5em .5em .5em
      transition 0.3s
      width 90%
      &:focus
        border 1px solid #00bfa5
    input[type="email"]
      border 1px solid #999
      border-radius 3px
      font-size 17px
      font-family Roboto-Condensed
      line-height 20px
      margin-bottom 8px
      outline none
      padding .5em .5em .5em .5em
      transition 0.3s
      width 90%
      &:focus
        border 1px solid #00bfa5
    input[type="password"]
      border 1px solid #999
      border-radius 3px
      font-size 17px
      font-family Roboto-Condensed
      line-height 20px
      margin-bottom 8px
      outline none
      padding .5em .5em .5em .5em
      transition 0.3s
      width 90%
      &:focus
        border 1px solid #00bfa5
    input[type=submit]
      background-color #b213ae
      border none
      border-radius 5px
      cursor pointer
      color #fff !important
      display block
      font-family Roboto-Bold
      font-size 15px
      letter-spacing .5px
      margin-top 5px
      padding 13px 24px 13px 24px !important
      transition 0.3s
      box-shadow 0 4px 6px rgba(50,50,93,0.11), 0 1px 3px rgba(0,0,0,0.08)
      width 90%
      text-align center
      margin 0px auto
    input[type="checkbox"]
      text-align left
    
.Home-text-int
  display table
  position relative
  width 100%
  height 640px
  
  &-con
    display table-cell
    height 100%
    text-align center
    vertical-align middle
    padding 0px 2em
    width 80%
    h2
      color #fff
      font-family Roboto-Bold
      font-size 36px
    
.Home-busqueda
  padding-bottom 14em
  width 100%
  
  &-conten
    margin 0px auto
    padding 200px 0px 30px 0px
    text-align center    
    width 90%  
.Home-titulo
   margin 0px auto
   text-align center
   width 90%
   h4
      color #666
      font-size 22px
      font-family Roboto-Bold   
.Home-image
   background-image url(../images/bag.jpg)
   background-position center center
   background-repeat no-repeat
   background-size cover
   // height 100vh
   min-height 640px
   max-height 800px
   width 100%
   &-fondo
      background-image linear-gradient(to bottom right, rgba(0, 1, 2, 0.35) 20%, rgba(0,0,0,0.49) 100%)
      min-height 640px
      max-height 800px
      width 100%

.Inmuble-galeri
  overflow auto
  height 100px
  width 100%
  &-int
    white-space nowrap
    width auto
    &-sec
      display inline-block
      height 80px
      margin-right 3px
      padding-right 3px
      width 98px 
      img
        height 100%
        width 100%
    
.Inmueble-contenido
  padding 10px 20px
  width 100%
  p
    line-height 24px
.Inmueble-contenido-caract
  margin 0px
  width 100%
  &-izq
    float left
    width 25%
    
    h2
      font-family Roboto-Bold
      font-size 14px
  &-der
    float right
    width 75%
    ul
      margin 0px
      padding-top 8px
      padding-bottom 20px
      li
        list-style none
        line-height 30px

  
.Inmueble-ver
  margin 0px auto
  width 100%
  &-int
    background-color #fff
    margin 0px auto    
    position relative    
    padding 80px 0px 20px 0px
    width 1024px
    &-sect
      width auto
    &-item-sec
      display table-cell
      border-bottom 1px solid #c9c9c9
      border-right 1px solid #c9c9c9
      vertical-align middle      
      width 15%
      &:first-child
        border-left 1px solid #c9c9c9
      
      p
        padding 10px 10px 10px 15px
        margin 0px
        span
          color #484848
          font-family Roboto-Condensed
          font-size 18px
    &-izq
      display inline-block
      vertical-align top
      width 70%
    &-der
      display inline-block
      vertical-align top
      width 29.6%
    &-precio
      background-color #00bfa5
      padding 10px
      width 200px
      position relative
      margin-top -41px
      z-index 100
      span
        display block
        font-family Roboto-Bold
        font-size 18px
        color #fff    
        text-align center
    &-galer
      background-position center center
      position relative
      height 530px
      overflow hidden
      width 100%
      background-size cover
      img
        height 100%
        width 100%
.Reloj
  color #484848
  font-family Roboto-Bold
  font-size 30px
.range-field
  position relative


input[type=range], input[type=range] + .thumb
  cursor pointer


input[type=range]
  position relative
  background-color transparent
  border none
  outline none
  width 100%
  margin 15px 0
  padding 0


input[type=range]:focus
  outline none


input[type=range] + .thumb
  position absolute
  top 10px
  left 0
  border none
  height 0
  width 0
  border-radius 50%
  background-color #26a69a
  margin-left 7px
  -webkit-transform-origin 50% 50%
  transform-origin 50% 50%
  -webkit-transform rotate(-45deg)
  transform rotate(-45deg)
  
input[type=range] + .thumb .value
  display block
  width 30px
  text-align center
  color #26a69a
  font-size 0
  -webkit-transform rotate(45deg)
  transform rotate(45deg)


input[type=range] + .thumb.active
  border-radius 50% 50% 50% 0


input[type=range] + .thumb.active .value
  color #fff
  margin-left -1px
  margin-top 8px
  font-size 10px


input[type=range]
  -webkit-appearance none

input[type=range]::-webkit-slider-runnable-track
  height 3px
  background #c2c0c2
  border none



input[type=range]::-webkit-slider-thumb
  -webkit-appearance none
  border none
  height 14px
  width 14px
  border-radius 50%
  background-color #26a69a
  -webkit-transform-origin 50% 50%
  transform-origin 50% 50%
  margin -5px 0 0 0
  -webkit-transition .3s
  transition .3s


input[type=range]:focus::-webkit-slider-runnable-track
  background #ccc


input[type=range]
  border 1px solid white
  /*required for proper track sizing in FF*/

input[type=range]::-moz-range-track
  height 3px
  background #ddd
  border none


input[type=range]::-moz-range-thumb
  border none
  height 14px
  width 14px
  border-radius 50%
  background #26a69a
  margin-top -5px


input[type=range]:-moz-focusring
  outline 1px solid #fff
  outline-offset -1px


input[type=range]:focus::-moz-range-track
  background #ccc


input[type=range]::-ms-track
  height 3px
  background transparent
  border-color transparent
  border-width 6px 0
  color transparent


input[type=range]::-ms-fill-lower
  background #777


input[type=range]::-ms-fill-upper
  background #ddd


input[type=range]::-ms-thumb
  border none
  height 14px
  width 14px
  border-radius 50%
  background #26a69a


input[type=range]:focus::-ms-fill-lower
  background #888


input[type=range]:focus::-ms-fill-upper
  background #ccc


.Justi
   text-align justify
.Listar
   box-shadow 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12)
   width 98%
   margin 0px auto
   &-table
      background #fff
      box-sizing border-box
      display table
      height 56px
      table-layout fixed
      -webkit-transition .1s all
      transition .1s all
      width 100%
      border-bottom 1px solid #d4d4d4
      &:hover
         background #f5f5f5
         cursor pointer
      &-dato
         -webkit-box-sizing border-box
         box-sizing border-box
         display table-cell
         font-size 13px
         overflow hidden
         padding 4px
         text-overflow ellipsis
         vertical-align middle
         white-space nowrap
         width 20%
         span
            font-size 14px
            font-family Roboto-Light
            padding-left 10px
         .Mayus
           text-transform uppercase
         .Title
            text-transform uppercase
            font-family Roboto-Bold
.Mayus
  text-transform uppercase
.Nav-admin
   text-align left
   width 100%
.nav_tabs
   margin 0px auto 0px auto
   text-align center
.nav_tabs_back
   height 53px
   width 100%
   ul
      padding 0px
   ul li
      display inline-block
      line-height 48px
      width 25%
      background #fff
      padding 0 0px
      a
         color #484847
         cursor pointer
         display block
         height 100%
         font-family Roboto-Bold
         overflow hidden
         font-size 14px
         -o-text-overflow ellipsis
         text-overflow ellipsis
         text-decoration none
         text-transform uppercase
         -webkit-transition color 0.28s ease
         -moz-transition color 0.28s ease
         -o-transition color 0.28s ease
         -ms-transition color 0.28s ease
         transition color 0.28s ease
         width 100%
         &:hover
           background #f0ede4
   .activa
      border-bottom 2px solid #00BFA4
.Owner-titulo
   margin 0px auto
   text-align center
   width 90%
   h4
      color #666
      font-size 22px
      font-family Roboto-Bold   
.Owner-image
   background-image url(../images/bag.jpg)
   background-position center center
   background-repeat no-repeat
   background-size cover
   // height 100vh
   min-height 240px
   max-height 400px
   width 100%
   &-fondo
      background-image linear-gradient(to bottom right, rgba(0, 1, 2, 0.35) 20%, rgba(0,0,0,0.49) 100%)
      min-height 240px
      max-height 400px
      width 100%
.Pic-sec
   display inline-block
   width 49.6%
.Pictures
   width 100%
   &-des-mos
      background #f9f9f9
      border 1px solid #e4e4e4
      border-radius 3px
      margin-top 20px
      padding 15px
      overflow auto
      width 100%
      &-name-image
         padding-left 10px
         overflow hidden
         text-overflow ellipsis
         white-space nowrap
         p
            line-height 24px            
            font-size 14px
            margin 0px            
      &-edit
         display block
         clear both
         a
            background-color #f97777
            border-radius 3px
            font-size 13px
            letter-spacing 0.5px
            color #fff            
            font-family Roboto-Bold
            padding 5px
            transition .3s
            &:hover
               background-color #e25a5a
      
      &-int
         float left
         width 120px
         img
            height 70px           
            width 100%
            
         
      
   &-des 
      border 1px solid #f2f2f2     
      box-shadow 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12)
      border-radius 3px
      cursor pointer
      display table
      height 69px
      position relative      
      width 130px
      transition .3s
      &:hover         
         box-shadow none
         border 1px solid #ddd      
         
      &-btn
         display table-cell
         height 100%
         text-align center
         vertical-align middle
         background-color #f9f9f9
         i
            color #989898
            font-size 22px
            display block
         span
            color #989898
            line-height 0.5px
            font-size 13px
            font-family Roboto-Bold
.Sesion-img
  margin 0px auto
  width 85px
  margin-bottom 20px
  img
    width 100%
.Pass-rem
     width 100%
     padding 10px 10px 0px 10px
     text-align center
     p a
       color #666
       font-family Roboto-Condensed
.Title-pequeño           
   font-family Roboto-Bold
   text-transform uppercase
   font-size 14px   
   margin-top 17px
.Text-izquierdo
  text-align left
.icon
   color #444 !important
   font-family Roboto-Bold
   padding-right 5px
@import "icons.styl"
.Loading
   width 100%
   &-int
      display block
      transition width 1s, background 1s  
      width 7%
   &-int2
         width 100% !important
      .Load
         background linear-gradient(to right, #018E7F , #00bfa5); 
         display block
         height 4px
                

.Landing_title
   color #484848
   font-family Roboto-Bold
   font-size 26px
   margin 0px
   padding 10px 0px
.Left
   text-align left !important
.Oculto-menu
   display none
.Pasos-label
   color #bdbdbd
   display block
   font-family Roboto-Bold
   padding 10px 0px
.Right
   text-align right
.remodal-overlay
   transition opacity 0.2s ease-out
   opacity 0px
.remodal,.remodal-wrapper:after
   vertical-align middle
.remodal
   background #f7f7f7
   border-radius 3px
   position relative
   display inline-block
   box-sizing border-box
   width 100%
   min-height 100%
   padding 50px
   transition transform 0.2s ease-out, opacity 0.2s ease-out
   transform scale(0.95)
   opacity 0
   color #182a3c
   background-color rgba(255, 255, 255, 0.2)
   border 1px solid #fff !important
   background-clip padding-box
.remodal-close
   display block
   width 50px
   height 50px
   background-repeat no-repeat
   background-size 80%
   background-position center center
   background-image url(../images/CLOSE.png)
   position absolute
   right 0
   top 0
   font-size 0 !important
   opacity 0.3
   transition all 0.5s linear
   margin-right 50px
   margin-top 50px
   &:hover
      opacity 0.9
   
.remodal .sol-modal
   background-color rgba(255, 255, 255, 0.92)
   
.sol-modal
   padding 16px
.remodal .solucion-mod .icono-archivo
   color #2D90E4
   font-family 'icomoon'
   text-align left !important
   text-decoration none
   padding 2em
   transition .3s
   &:hover
      color #F26D6D
      transition .3s
.remodal, [data-remodal-id]
   visibility hidden

.remodal-overlay
   position fixed
   z-index 9999
   top -5000px
   right -5000px
   bottom -5000px
   left -5000px
   display none
.remodal-wrapper
   background-color rgba(27, 27, 27, 0.78)
   position fixed
   z-index 10000
   top 0px
   right 0px
   bottom 0px
   left 0px
   display none
   overflow auto
   text-align center
   overflow-scrolling touch
   &:after
      display inline-block
      height 100%
      margin-left -0.05em
      content ""
.remodal-overlay, .remodal-wrapper
   transform translateZ(0px)
.sol-modal .icono-archivo
   color #2D90E4
   font-family 'icomoon'
   text-align left !important
   text-decoration none
   padding 2em
   transition .3s
   &:hover
      color #F26D6D
      transition .3s
   
.remodal-bg
   transition 0.2s ease-out

.Menu-burger
   filter grayscale(100%)
   width 77px !important
.Modal-form-regis
   margin 0px auto
   width 50%
.Modal-register
   width 100%
   &-img
      width 100%
      img
         width 140px
   &-izq
      border-right 1px solid #182a3c
   &-izq, &-der
      display inline-block
      vertical-align top
      width 45%
      p
         padding 0px 10px 10px 10px
.Pay
   background-color #B213AE
   border-radius 5px
   color #fff
   font-family Roboto-Bold
   padding 13px 24px 13px 24px !important
   box-shadow 0 4px 6px rgba(50,50,93,0.11), 0 1px 3px rgba(0,0,0,0.08)
   transition .3s
   &:hover
      background-color #CC0CC7
.Pie
   background #2d2d2d
   margin 0px auto
   padding 0em 0px 0em 0px
   width 100%
   &-cont
      margin 0px auto
      padding 3em 0px 3em 0px
      width 80%      
   &-top
      background-color #272626
      margin 0px auto
   &-top-sec
      display inline-block
      margin 0px auto
      text-align center
      vertical-align top
      width 100%
      ul
         padding 0px
         margin 0px
      ul li
         list-style none
         line-height 26px
         display inline-block
         a
            color #cecece
            font-size 14px
            // font-family Roboto-Condensed
            // letter-spacing 0.5px
            padding 10px
            transition .3s
            &:hover
               color #fff
   &-bottom
      padding 1em 0px
      width 100%
      p
         color #cecece
         font-size 12px
         margin 0px
         padding 10px
         text-align center
      a
        color #fff
.Rosa
  color #f97777
.Recibo
   box-shadow 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12)
   padding 10px 15px 10px 15px
   margin 20px 0px
.Titulo-gris
  text-transform uppercase
  font-family Roboto-Bold
  font-size 30px
  color #484848
.Titulo-blanco
  text-transform uppercase
  font-family Roboto-Bold
  font-size 30px
  color #fff
.tabs
   display -webkit-box
   display -moz-box
   display -webkit-flex
   display -ms-flexbox
   display box
   display flex
   margin 0 auto
   overflow-x auto
   overflow-y hidden
   position relative
   padding 0
   white-space nowrap
.Text_minimos
   font-size 11px
   padding-top 12px
   display block
.Terms
   display block
   font-size 12px
   padding 5px 0px 14px 0px
.Texto-blanco
   color #fff
.Texto-gris
   color #636363
.Top   
   // background-color #fff
   // box-shadow 0 2px 2px rgba(0,0,0,0.2)
   position fixed
   width 100%
   padding-right 10px
   padding-left 10px
   padding-top 10px
   &-der, &-izq
      display inline-block
      vertical-align top
   &-izq img
      padding 18px
      width 164px
   &-der
      overflow auto
      float right
      padding-right 10px
      nav
         float right
         padding 10px 0px
      
   &-der nav ul li      
      display inline-block      
      list-style none
      text-transform uppercase
      vertical-align top
      a
         padding 26px 26px 26px 26px
         color #fff
         font-family Roboto-Bold
         transition .3s
         &:hover
            color #00bfa5
.Title_modal
   font-family Roboto-Bold
   font-size 22px
.Top2   
   background-color #fff
   box-shadow 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12)
   position fixed
   width 100%
   padding-right 10px
   padding-left 10px
   padding-top 10px
   &-der, &-izq
      display inline-block
      vertical-align top
   &-izq img
      padding 18px
      width 130px
   &-der
      overflow auto
      float right
      padding-right 10px
      nav
         float right
         padding 4px 0px 10px 0px
      
   &-der nav ul li      
      display inline-block      
      list-style none
      text-transform uppercase
      vertical-align top
      a
         padding 26px 26px 26px 26px
         color #00bfa5
         font-family Roboto-Bold
         transition .3s
         &:hover
            color #07d8ba
.Text-verde
   color #00bfa5 !important
.Text-gris
   color #999 !important
.Text-rojo
   color #f97777 !important
.User-index
  color #666
  font-family Roboto-Bold
  font-size 20px
  text-transform uppercase
.User-regis  
  border-radius 10px
  background-color #fff
  box-shadow 0 30px 50px -15px rgba(0,0,0,.35)
  margin 0px auto 
  padding 0.5em
  width 60%
  p
    line-height 27px
    padding 0px 10px
      
@media screen and (max-width: 1024px)
   p
      font-size 14px
   .Admin-log-int-form
     width 290px
   .Apoyo-int
     width 80%
     img
       width 100%
   .Arren-Potencial
      width 100%
      &-izq, &-der
         width 100%
   .Busca-home
     width 80%
     &-sec
       display block
       width 100%
       input[type=submit]
         margin-top 6px !important
         width 100% !important
   
   .Btn-iniciar      
      display block
      width 100%
   .Busqueda-avanzada-cont-sec
     width 100%
   .col-xs-6
     font-size 12px
     margin-top 13px
     span
       font-size 12px !important
   .Contacto
     &-fondo
       height 20px
     &-int
       width 97%
       &-lado
         width 100%
   
   .Contenido-interno-nos     
     padding 3em 0 2em 0
     width 90%     
     h1
       font-size 24px
     &-nosotros-img
       float none
       margin 22px auto 0px auto
     &-nosotros-texto
       width auto
       p
         line-height 23px
         padding 0px 20px
         span
           color #484848
           font-family Roboto-Condensed
     
   .Contenido-interno-nos-nosotros-int-sec
     width 100%
     margin-bottom 40px
   .Conten-docs-legal
     margin 0px auto 
     text-align center
   .Conten-docs-legal-sec          
     margin 20px 0px
     width 90%
   .Contenedor-principal-izq-menu
      padding 33px 0 0 0
   .Conten-white-int-der
      margin-top 1em
      padding-top 1em
   .Conten-white
      padding-top 80px
   .Conten-white2
      padding-top 80px
   .Conten-dashboard-int-title h2
     font-size 18px
   .Conten-white-int
      width 90%
      &-izq, &-der
         width 100%
   .Conten-progress-int-izq
      width 100%
   .Conten-progress-int-der
      width 100%
      img
         width 90px
   .Cotenido-inmuebles-int
      width 80%
   .Cotenido-inmuebles-int-card-image img
      height 100% !important
   .Cotenido-inmuebles-int-card-text-titulo
      font-size 14px
   .Cotenido-inmuebles-int-card-text-tipo
      font-size 12px
   .Erro-page-int h1
     font-size 45px     
   .Erro-page-int img
     width 150px
   .Filtro
     display block
     position fixed
     margin 0px auto
     width 100%
     bottom 18px
     &-int
       text-align center
       a
         background-color #b213ae
         border-radius 22px
         color #fff
         font-size 14px
         font-family Roboto-Bold
         text-align center
         letter-spacing 0.5px
         padding 10px
       i
         font-size 10px
         
         
     
     
   .Form-title
      font-size 14px
   .Form-ow-regis
      width 100%
   .Form-simbol
      text-align center
      width 19.5%
   .Form-c1
      width 100% !important
   .Form-c2 
      width 18.5% !important
   .Form
      width 100%
      &-izq, &-der
         width 100%
   .Home-text-int-con
     padding 0px
     width 90%
   .Header-busqueda
     padding-top 41px
   .Home-busqueda
     padding-bottom 25em
   
   .Header-busqueda-int
     // display none     
     overflow auto
     padding 25px 0 14px 0
   .Header-fil
     display block
   .Header-busqueda-int-sec
     display flex
     padding-bottom 23px
     width 100%
   .Home-text-int
     min-height 350px
     max-height 350px
   .Home-text-int-con h2
     font-size 18px
     
   .Home-dos
     width 100%
     &-der
       width 100%
     &-izq
       display none
    
   .Home-image
      min-height 540px
      max-height 350px
      &-fondo
         min-height 540px
         max-height 350px
         width 100%
   .Inmueble-ver-int
     width 100%
     &-izq, &-der
       width 100%
   .Inmueble-ver-int
     padding 47px 0 20px 0
     &-sect
       width 100%   
     &:first-child
       border-left none
     &:last-child
       border-right none
   .Inmueble-contenido-caract
     width 100%
     &-der ul
       padding-left 5px
     &-izq, &-der
       width 100%
    
   .Inmueble-ver-int-item-sec p
     font-size 12px
   .Inmueble-ver-int-galer
     height 350px
   .Inmueble-ver-int-precio
     margin-top -41px
   .Inmueble-ver-int-item-sec p span
     font-size 14px
   .Landing_title
      font-size 22px
   
   .Listar-table
      padding 10px 0px
   .Listar-table-dato
      display table-cell
      font-size 13px
      overflow hidden
      display block
      padding 9px 2px
      text-overflow ellipsis
      vertical-align middle
      white-space nowrap
      width 100%
   .Menu-burger
      filter grayscale(100%)
      filter grayscale(100%)
      margin-left 0px !important
      width 44px !important
      padding 12px !important
      margin-right 13px !important
   .Modal-form-regis
      width 90%
   .Modal-register
      width 100%
      &-izq
         border none
         padding-bottom 20px
         border-bottom 1px solid #9b9ea0
      &-der
         padding-top 20px
      &-izq, &-der
         width 100%
   .Oculto2
      display none !important
   .Oculto-menu
      display inline-block
      color #00bfa5
      font-size 15px
      float right
      font-family Roboto-Bold
      position absolute
      padding 15px 0px
      right 14px
      margin-top -8px
   .Ocl-menu
      display none
   .Reloj
     font-size 20px
   .pct
     position absolute !important
     line-height 16 !important
     display block !important
     left auto !important
     text-align center !important
     width 100% !important
   .Pic-sec
      width 100%
   .Pie-top-sec ul li
      display block
      line-height 29px
      a
         font-size 12px
         
   
   .Pie-bottom p
      font-size 10px
      padding-bottom 37px
      line-height 22px
   .Range-min
     width 100% !important
   .remodal
      padding 25px
   .remodal-close
      height 34px
      width 34px
      margin-right 30px
      margin-top 30px
   .Titulo
     opacity 1
     &-blanco
       font-size 20px
     &-gris
       font-size 20px
     
   .Top-izq
      width auto
   .Top-izq img
      width 124px
      padding 2px 7px 7px 7px
   .Top-der
      padding-right 0px
      width 100%
      
   .Top
      background-color #fff
   .Top-der nav
      width 100%
   .Top-der nav ul
      margin 0px
      padding 0px
   .Top-der nav ul li
      border-bottom 1px solid #eaeaea
      display block      
      text-align center
      width 100%
      a
         color #00bfa5
         font-size 12px
         display block
         padding 15px 26px 15px 26px
   
   .Top2-izq
      width auto
   .Top2-izq img
      width 124px
      padding 2px 7px 7px 7px
   .Top2-der
      padding-right 0px
      width 100%
      
   .Top2
      background-color #fff
   .Top2-der nav
      width 100%
   .Top2-der nav ul
      margin 0px
      padding 0px
   .Top2-der nav ul li
      border-bottom 1px solid #eaeaea
      display block      
      text-align center
      width 100%
      a
         color #00bfa5
         font-size 12px
         display block
         padding 15px 26px 15px 26px
   .User-regis
     width 90%
     p
       line-height 24px
   #aplica-val
     right 23px
     position absolute
     margin-top 53px
   #drop-files
     font-size 12px !important
         



@media screen and (max-width: 500px)
   .Cotenido-inmuebles-int-card
      min-width 100%
      max-width 100%
      margin 15px 0px
   .Home-dos-der-regis
     width 100%


@media only screen and (min-width: 40.063em)
   .remodal
      max-width 700px
      min-height 0
      margin 20px auto
      
   