div {
	background: #f6f6f6;
	color: #000000;
	margin-left: 5px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
 
}
.titulossecciones {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-weight: bold;
	color: #D00000;
}
.tablatexto {
	font-family: Calibri;
	font-size: 12px;
	font-weight: normal;
	background-color: #FFFFFF;
 }
  
.rounded_evento {
	
	border: 3px solid #ff1604;
	content: url(top-left.png);

	background-attachment: scroll;
	background-color: #f6f6f6;
	background-image: url(top-right.png);
	background-repeat: no-repeat;
	background-position: right top;
}
 
