@font-face {
  font-family: Roboto-Black;
  src: url("../fonts/Roboto-Black.ttf");
}
@font-face {
  font-family: Roboto-BlackItalic;
  src: url("../fonts/Roboto-BlackItalic.ttf");
}
@font-face {
  font-family: Roboto-Bold;
  src: url("../fonts/Roboto-Bold.ttf");
}
@font-face {
  font-family: Roboto-BoldCondensed;
  src: url("../fonts/Roboto-BoldCondensed.ttf");
}
@font-face {
  font-family: Roboto-BoldCondensedItalic;
  src: url("../fonts/Roboto-BoldCondensedItalic.ttf");
}
@font-face {
  font-family: Roboto-BoldItalic;
  src: url("../fonts/Roboto-BoldItalic.ttf");
}
@font-face {
  font-family: Roboto-Condensed;
  src: url("../fonts/Roboto-Condensed.ttf");
}
@font-face {
  font-family: Roboto-BoldCondensed;
  src: url("../fonts/Roboto-BoldCondensed.ttf");
}
@font-face {
  font-family: Roboto-CondensedItalic;
  src: url("../fonts/Roboto-CondensedItalic.ttf");
}
@font-face {
  font-family: Roboto-Italic;
  src: url("../fonts/Roboto-Italic.ttf");
}
@font-face {
  font-family: Roboto-Light;
  src: url("../fonts/Roboto-Light.ttf");
}
@font-face {
  font-family: Roboto-LightItalic;
  src: url("../fonts/Roboto-LightItalic.ttf");
}
@font-face {
  font-family: Roboto-Medium;
  src: url("../fonts/Roboto-Medium.ttf");
}
@font-face {
  font-family: Roboto-MediumItalic;
  src: url("../fonts/Roboto-MediumItalic.ttf");
}
@font-face {
  font-family: Roboto-Regular;
  src: url("../fonts/Roboto-Regular.ttf");
}
@font-face {
  font-family: Roboto-Thin;
  src: url("../fonts/Roboto-Thin.ttf");
}
@font-face {
  font-family: Roboto-ThinItalic;
  src: url("../fonts/Roboto-ThinItalic");
}
body {
  margin: 0px;
  padding: 0px;
}
body * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
header {
  position: fixed;
  width: 100%;
  z-index: 200;
}
a {
  outline: none;
  text-decoration: none;
}
.Acepta-t {
  font-size: 12px;
}
.Acepta-t a {
  color: #0c378a;
}
.Btn-azul {
  background: #0c378a;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  font-size: 14px;
  color: #fff;
  font-family: Roboto-Bold;
  padding: 12px 20px;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -ms-transition: 0.3s;
  transition: 0.3s;
  width: 100%;
}
.Btn-azul:hover {
  background: #082356;
}
.Btn-atras {
  background: #0c378a;
  border-radius: 5px;
  color: #fff;
  font-family: Roboto-Bold;
  padding: 12px 20px;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -ms-transition: 0.3s;
  transition: 0.3s;
}
.Btn-atras:hover {
  background: #082356;
}
.Contra {
  color: #0c378a;
  font-family: Roboto-Bold;
  font-size: 14px;
}
.Center {
  text-align: center !important;
}
.Contener-guias {
  width: 100%;
}
.Contener-guias-int {
  margin: 0px auto;
  padding: 120px 0px 2em 0px;
  width: 1024px;
}
.Contener-guias-int-izq {
  background: #e3decc;
  text-align: center;
  padding: 40px 10px;
  display: inline-block;
  vertical-align: top;
  width: 250px;
}
.Contener-guias-int-der {
  display: inline-block;
  padding: 40px 10px;
  vertical-align: top;
  width: 770px;
}
.Cont-filtrar-guia {
  padding: 0px 10px;
  width: 100%;
}
.Cont-filtrar-guia p {
  font-family: Roboto-Regular;
  text-align: left;
  font-size: 14px;
}
.Cont-filtrar-guia a {
  display: block;
  text-align: center;
}
.Cont-filtrar-guia label {
  display: block;
  color: #999;
  font-family: Roboto-Bold;
  text-align: left;
  font-size: 12px;
  margin-bottom: 5px;
}
.Cont-filtrar-guia input[type=text] {
  border: none;
  border: 1px solid #ddd;
  border-radius: 3px;
  outline: none;
  background: #f2f2f2;
  font-size: 14px;
  padding: 10px 10px;
  font-family: Roboto-Regular;
  margin-bottom: 10px;
  width: 100%;
}
.Cont-filtrar-guia input[type=text]:focus {
  border: 1px solid #0c378a;
}
.Cont-filtrar-guia input[type=date] {
  border: none;
  border: 1px solid #ddd;
  border-radius: 3px;
  outline: none;
  background: #f2f2f2;
  font-size: 14px;
  padding: 10px 10px;
  font-family: Roboto-Regular;
  margin-bottom: 10px;
  width: 100%;
}
.Cont-filtrar-guia input[type=date]:focus {
  border: 1px solid #0c378a;
}
.Cont-filtrar-guia select {
  border: none;
  border: 1px solid #ddd;
  border-radius: 3px;
  outline: none;
  background: #f2f2f2;
  font-size: 14px;
  padding: 10px 10px;
  font-family: Roboto-Regular;
  margin-bottom: 10px;
  width: 100%;
}
.Cont-filtrar-guia select:focus {
  border: 1px solid #0c378a;
}
.Cont-filtrar-guia input[type=email] {
  border: none;
  border: 1px solid #ddd;
  border-radius: 3px;
  outline: none;
  background: #f2f2f2;
  font-size: 14px;
  padding: 10px 10px;
  font-family: Roboto-Regular;
  margin-bottom: 10px;
  width: 100%;
}
.Cont-filtrar-guia input[type=email]:focus {
  border: 1px solid #0c378a;
}
.Cont-filtrar-guia input[type=password] {
  border: none;
  border: 1px solid #ddd;
  border-radius: 3px;
  outline: none;
  background: #f2f2f2;
  font-size: 14px;
  pdding: 10px 10px;
  font-family: Roboto-Regular;
  margin-bottom: 10px;
  width: 100%;
}
.Cont-filtrar-guia input[type=password]:focus {
  border: 1px solid #0c378a;
}
.Contener {
  width: 100%;
  padding-top: 130px;
}
.Contener-int {
  margin: 0px auto;
  padding: 2em 0px;
  width: 70%;
}
.Contener-int-contenido {
  padding: 20px;
  width: 100%;
}
.Contener-int-contenido h1 {
  font-family: Roboto-Regular;
  font-weight: 200;
}
.Contener-int-contenido p {
  text-align: justify;
  font-family: Roboto-Light;
  line-height: 24px;
}
.Contener-int-contenido p strong {
  font-family: Roboto-Bold;
}
.Conten-botones-ff {
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  padding: 5px 20px;
  width: 100%;
}
.Conten-botones-ff p {
  padding: 10px 0px;
}
.Forms {
  width: 100%;
}
.Forms label {
  display: block;
  color: #999;
  font-family: Roboto-Bold;
  text-align: left;
  font-size: 12px;
  margin-bottom: 5px;
}
.Forms input[type=text] {
  border: none;
  border: 1px solid #ddd;
  border-radius: 3px;
  outline: none;
  background: #f2f2f2;
  font-size: 14px;
  padding: 10px 10px;
  font-family: Roboto-Regular;
  margin-bottom: 10px;
  width: 100%;
}
.Forms input[type=text]:focus {
  border: 1px solid #0c378a;
}
.Forms select {
  border: none;
  border: 1px solid #ddd;
  border-radius: 3px;
  outline: none;
  background: #f2f2f2;
  font-size: 14px;
  padding: 10px 10px;
  font-family: Roboto-Regular;
  margin-bottom: 10px;
  width: 100%;
}
.Forms select:focus {
  border: 1px solid #0c378a;
}
.Forms input[type=email] {
  border: none;
  border: 1px solid #ddd;
  border-radius: 3px;
  outline: none;
  background: #f2f2f2;
  font-size: 14px;
  padding: 10px 10px;
  font-family: Roboto-Regular;
  margin-bottom: 10px;
  width: 100%;
}
.Forms input[type=email]:focus {
  border: 1px solid #0c378a;
}
.Forms input[type=password] {
  border: none;
  border: 1px solid #ddd;
  border-radius: 3px;
  outline: none;
  background: #f2f2f2;
  font-size: 14px;
  padding: 10px 10px;
  font-family: Roboto-Regular;
  margin-bottom: 10px;
  width: 100%;
}
.Forms input[type=password]:focus {
  border: 1px solid #0c378a;
}
.Form-busca nombre {
  width: 100%;
}
.Form-home {
  width: 100%;
  position: absolute;
  margin-top: -450px;
  z-index: 150;
}
.Form-home-int {
  text-align: center;
  border-radius: 5px;
  margin: 0px auto;
  padding: 10px;
  width: 450px;
}
.Form-home-botones {
  padding: 10px;
}
.Form-home-botones-int {
  padding: 10px 0px;
}
.Form-home-botones-int a {
  background: #0c378a;
  border-radius: 5px;
  color: #fff;
  font-size: 14px;
  line-height: 34px;
  padding: 0px 18px;
  display: inline-block;
  vertical-align: top;
  font-family: Roboto-Bold;
  margin-top: 8px;
}
.Form-home-botones-int img {
  display: inline-block;
  margin-right: -8px;
}
.Form-date {
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  width: 100%;
}
.Form-date span {
  padding: 0px 5px;
}
.Form-date-int {
  width: 100%;
}
.Form-imagen {
  background: #f2f2f2;
  cursor: pointer;
  border: 1px solid #fff;
  border-radius: 3px;
  width: 100%;
  -webkit-box-shadow: 1px 1px 5px 0px rgba(50,50,50,0.75);
  box-shadow: 1px 1px 5px 0px rgba(50,50,50,0.75);
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -ms-transition: 0.3s;
  transition: 0.3s;
}
.Form-imagen:hover {
  border: 1px solid #ddd;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.Form-imagen p {
  padding: 6px 10px;
  color: #666;
  font-family: Roboto-Bold;
  font-size: 12px;
  margin: 0px;
}
.Foot {
  width: 100%;
}
/*.Foot-int {
  margin: 0px auto;
  text-align: center;
  width: 80%;
}*/

.Foot-int p {
  font-family: Roboto-Light;
  font-size: 12px;
}
.Login {
  width: 100%;
}
.Login-int {
  margin: 0px auto;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 20px 30px;
  width: 400px;
}
.Login-int h2 {
  text-align: center;
  font-family: Roboto-Regular;
  font-weight: 200;
  font-size: 28px;
}
.Login-int form {
  width: 100%;
}
.Login-int form label {
  display: block;
  color: #999;
  font-family: Roboto-Bold;
  text-align: left;
  font-size: 12px;
  margin-bottom: 5px;
}
.Login-int form input[type=text] {
  border: none;
  border: 1px solid #ddd;
  border-radius: 3px;
  outline: none;
  background: #f2f2f2;
  font-size: 14px;
  padding: 10px 10px;
  font-family: Roboto-Regular;
  margin-bottom: 10px;
  width: 100%;
}
.Login-int form input[type=text]:focus {
  border: 1px solid #0c378a;
}
.Login-int form select {
  border: none;
  border: 1px solid #ddd;
  border-radius: 3px;
  outline: none;
  background: #f2f2f2;
  font-size: 14px;
  padding: 10px 10px;
  font-family: Roboto-Regular;
  margin-bottom: 10px;
  width: 100%;
}
.Login-int form select:focus {
  border: 1px solid #0c378a;
}
.Login-int form input[type=email] {
  border: none;
  border: 1px solid #ddd;
  border-radius: 3px;
  outline: none;
  background: #f2f2f2;
  font-size: 14px;
  padding: 10px 10px;
  font-family: Roboto-Regular;
  margin-bottom: 10px;
  width: 100%;
}
.Login-int form input[type=email]:focus {
  border: 1px solid #0c378a;
}
.Login-int form input[type=number] {
  border: none;
  border: 1px solid #ddd;
  border-radius: 3px;
  outline: none;
  background: #f2f2f2;
  font-size: 14px;
  padding: 10px 10px;
  font-family: Roboto-Regular;
  margin-bottom: 10px;
  width: 100%;
}
.Login-int form input[type=number]:focus {
  border: 1px solid #0c378a;
}
.Login-int form textarea {
  border: none;
  border: 1px solid #ddd;
  border-radius: 3px;
  outline: none;
  background: #f2f2f2;
  font-size: 14px;
  padding: 10px 10px;
  font-family: Roboto-Regular;
  margin-bottom: 10px;
  width: 100%;
}
.Login-int form textarea:focus {
  border: 1px solid #0c378a;
}
.Login-int form input[type=password] {
  border: none;
  border: 1px solid #ddd;
  border-radius: 3px;
  outline: none;
  background: #f2f2f2;
  font-size: 14px;
  padding: 10px 10px;
  font-family: Roboto-Regular;
  margin-bottom: 10px;
  width: 100%;
}
.Login-int form input[type=password]:focus {
  border: 1px solid #0c378a;
}
.Menu-2 {
  background: #ddd;
  width: 100%;
}
.Menu-2-int {
  margin: 0px auto;
  text-align: center;
  padding: 10px;
  width: 80%;
}
.Menu-2-int p {
  font-family: Roboto-Light;
  margin: 0px;
}
.Menu-2-int p a {
  color: #0c378a;
  border-left: 1px sold #0c378a;
  font-family: Roboto-Bold;
  padding: 5px;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -ms-transition: 0.3s;
  transition: 0.3s;
}
.Menu-2-int p a:hover {
  background: #bfb9b9;
}
.Mapadesitio {
  padding: 0px;
}
.Mapadesitio li {
  color: #666;
  font-family: Roboto-Regular;
  line-height: 29px;
  list-style: none;
}
.Mapadesitio li a {
  color: #666;
}
.Mapadesitio li a:hover {
  text-decoration: underline;
}
.Rojo-strong {
  color: #f00;
  font-family: Roboto-Bold;
}
.Slider {
  position: relative;
}
.Tarjeta-guia {
  border-radius: 5px;
  -webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
  width: 100%;
  margin-top: 20px;
}
.Tarjeta-guia-int {
  padding: 10px;
}
.Tarjeta-guia-int p {
  font-family: Roboto-Light;
  font-size: 14px;
  line-height: 22px;
}
.Tarjeta-guia-int-nombre {
  width: 100%;
  border-bottom: 1px solid #ddd;
}
.Tarjeta-guia-int-nombre h2 {
  color: #666;
  font-family: Roboto-Bold;
  font-size: 18px;
  text-transform: uppercase;
  padding: 0px 10px;
  font-weight: 200;
}
.Tarjeta-guia-int-1 {
  width: 130px;
  padding: 10px;
  display: inline-block;
  vertical-align: top;
}
.Tarjeta-guia-int-1 img {
  width: 100%;
}
.Tarjeta-guia-int-2 {
  display: inline-block;
  vertical-align: top;
  width: 440px;
}
.Tarjeta-guia-int-2 h3 {
  font-family: Roboto-Bold;
  color: #999;
  font-size: 16px;
  margin-bottom: 5px;
}
.Tarjeta-guia-int-3 {
  display: inline-block;
  vertical-align: top;
  padding: 10px 0px;
  text-align: center;
  width: 150px;
}
.Tarjeta-guia-int-sub {
  display: inline-block;
  width: 49.6%;
}
.Tarjeta-tag {
  background: #c5bcab;
  font-family: Roboto-Bold;
  color: #3a3a3a;
  margin: 5px;
  white-space: nowrap;
  line-height: 46px;
  font-size: 14px;
  border-radius: 5px;
  padding: 8px 20px;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -ms-transition: 0.3s;
  transition: 0.3s;
}
.Top-bot {
  background: #ffb50e;
  width: 100%;
}
.Top-bot-int {
  margin: 0px auto;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  padding: 5px 0px;
  width: 70%;
}
.Top-bot-int h2 {
  color: #0c378a;
  font-family: Roboto-Regular;
  font-weight: 100;
  margin: 0px;
  padding-left: 20px;
}
@media screen and (max-width: 1024px) {
  .Contener-guias-int {
    width: 90%;
  }
  .Contener-guias-int-der {
    padding: 80px 10px;
    width: 100%;
  }
  .Contener-int {
    width: 90%;
  }
  .Tarjeta-guia {
    padding: 0px 15px;
  }
  .Tarjeta-guia-int {
    width: 100%;
  }
  .Tarjeta-guia-int-1 {
    width: 100%;
    text-align: center;
  }
  .Tarjeta-guia-int-1 img {
    width: 150px;
  }
  .Tarjeta-guia-int-2 {
    width: 100%;
  }
  .Tarjeta-guia-int-3 {
    width: 100%;
  }
  .Tarjeta-guia-int-3 a {
    display: block;
    text-align: center;
  }
  .Top-int {
    display: block;
    padding-top: 10px;
    width: 90%;
  }
  .Top-int-izq {
    display: block;
    text-align: center;
    width: 100%;
  }
  .Top-int-der {
    text-align: center;
    width: 100%;
  }
  .Top-int-der ul li a {
    padding: 9px 12px;
  }
  .Top-int-izq h1 {
    font-size: 18px;
  }
  .Top-bot-int {
    width: 90%;
  }
  .Top-bot-int h2 {
    font-size: 14px;
  }
  .Form-home {
    margin-top: -335px;
  }
  .Form-home-int {
    width: 80%;
  }
  .Form-home-int img {
    display: none;
  }
  .Menu-2-int p {
    font-size: 12px;
  }
  .Login-int {
    margin-top: 20px;
    width: 100%;
  }
  .Oculto {
    display: none;
  }
}
