.content {
	padding: 0px 3em 0 3em;
}
#drop-files {
	color: #717C7C;
	width: 100%;
	height: 130px;
	background: #F1F1F1;
	border-radius: 10px;
	border: 3px dotted rgba(0, 0, 0, 0.25);
	padding: 50px 0 0 0;
	text-align: center;
	font-size: 16px;
	font-weight: bold;
	float: left;
	margin: 0 20px 20px 0;
	cursor: pointer;
}
#add {
	margin-top: -45px;
	width: 45px;
	margin-left: auto;
	margin-right: auto;
	padding-bottom: 10px;
}
#add img{
	width: 45px;
}

#dropped-files {
	float: left;
	position: relative;
	/*width: 560px;*/
	height: 60px;
}

#upload-button {
	top: 12px;
	z-index: 9999;
	/*width: 210px;*/
	display: none;
	margin-left: 130%
}
#adjun
{
	color: #333;
	margin: 0 auto 0 auto;
	text-align: center;
	padding: 1em;
	font-weight: bold;
}
#dropped-files .image {
	top: -78px;
	height: 60px;
	width: 60px;
	position: absolute;
	box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
	background: #fff;
	border-radius: 4px;
	overflow: hidden;
}

#upload-button .ss-upload {
	font-size: 0.7em;
}

#upload-button a {
	background: #D71E1E;
    border-radius: 0.3em;
    color: #fff;
    padding: 0.5em;
}

#upload-button span {
	display: block;
	width: 160px;
	color: #333;
	text-align: center;
	margin: -23px 0 0 190px;
	border-radius: 10px;
	font-size: 0.6em;
	padding: 4px 0;
	position: relative;

}
#extra-files {
	display: none;
	float: right;
	position: relative;
	left: -60px;
    top: -3px;
}

#extra-files .number {
	background: #1A1818;
    border-radius: 0.3em;
    border: none;
    color: #fff;
    padding: 0.5em;
	cursor: pointer;
	margin: -5px 0px 0px 0px;
}

#dropped-files #upload-button .delete:hover {
	background: #d02929;
}

#extra-files #file-list {
	display: none;
	background: white;
	padding: 20px 0;
	font-size: 10px;
	border-radius: 5px;
	box-shadow: 0 0 15px rgba(0,0,0,0.1);
	width: 251px;
	border: 1px solid #dadada;
	margin: 20px 0 0 -130px;
	max-height: 220px;
	position: absolute;
	color: #545454;
}

#file-list ul {
	overflow: scroll;
	padding: 0;
	border-top: 1px solid #dadada;
	max-height: 200px;
	width:auto;
	list-style: none;
	border-bottom: 1px solid #dadada !important;
}

#file-list ul li:last-of-type {
	border-bottom: 0 !important;
}

#uploaded-holder {
	width: 100%;
	/*height: 250px;*/
	display: none;
	float: left;
}

#extra-files #file-list:after, #extra-files #file-list:before {
	position: absolute;
	content: " ";
	top: -40px;
	left: 160px;
	display: block;
	border: 20px solid;
	border-color: transparent transparent #ffffff transparent;
}

#extra-files #file-list:before {
	border-color: transparent transparent #dadada transparent;
	top: -41px;
}

#extra-files #file-list li {
	border-bottom: 1px solid #eee;
	font-weight: bold;
	width: auto;
	font-size: 12px;
	padding: 10px;
}

#loading {
	display: none;
	float: left;
	width: 100%;
	position: relative;
}

#loading-bar {
	width: 100%;
	height: 40px;
	background: #fff;
	box-shadow: 0 0 15px rgba(0,0,0,0.1);
	border-radius: 5px;
	padding: 2px;
}

.loading-color {
	width: 0%;
	height: 100%;
	-webkit-transition: all 0.1s ease-in;
	-moz-transition: all 0.1s ease-in;
	-ms-transition: all 0.1s ease-in;
	-o-transition: all 0.1s ease-in;
	transition: all 0.1s ease-in;
	border-radius: inherit;
	background-color: #4edbf1;
}

#loading-content {
	position: absolute;
	top: 15px;
	font-size: 1.2em;
	font-weight: bold;
	text-align: center;
	width: 100%;
}

#file-name-holder {
	width: 100%;
	float: left;
}

#file-name-holder h1 {
	text-align: center;
	border-bottom: 1px solid #dadada;
	padding: 20px 0;
	font-size: 1.2em;
	margin: 0;
}

#uploaded-files {
	background: white;
	border-radius: 5px;
	box-shadow: 0 0 15px rgba(0,0,0,0.1);
	width: 100%;
	top: 100px;
	padding: 0 1em 0 0;
	max-height: 320px;
	overflow: scroll;
	color: #545454;
}

#uploaded-files li {
	padding: 10px;
	border-bottom: 1px solid #eee;
	font-size: 1.5em;
	font-weight: bold;
	line-height: 25px;
	color: #545454;
}

#uploaded-files a {
	color: #1bacbf;
}

@media screen and (max-width: 600px)
{

#extra-files .number {
	background: #1A1818;
    border-radius: 0.3em;
    border: none;
    color: #fff;
    padding: 0.5em;
	cursor: pointer;
	margin: -5px 0px 0px 0px;
}
#extra-files{
	right: 325px;
}
#upload-button span {
	display: block;
	width: 160px;
	color: #333;
	text-align: center;
	margin: 15px 0 0 -10px;
	border-radius: 10px;
	font-size: 0.6em;
	padding: 4px 0;
	position: relative;

}
#extra-files #file-list {
	display: none;
	background: white;
	padding: 20px 0;
	font-size: 10px;
	border-radius: 5px;
	box-shadow: 0 0 15px rgba(0,0,0,0.1);
	width: 250px;
	border: 1px solid #dadada;
	margin: 20px 0 0 -129px;
	max-height: 220px;
	position: absolute;
	color: #545454;
}
#extra-files #file-list li {
	border-bottom: 1px solid #eee;
	font-weight: bold;
	width: 250px;
	font-size: 12px;
	padding: 10px;
}
#file-list ul {
	overflow: scroll;
	padding: 0;
	border-top: 1px solid #dadada;
	max-height: 200px;
	width:250px;
	list-style: none;
	border-bottom: 1px solid #dadada !important;
}
}

div#loader_container {
  width:300px;
  height: 26px;
  text-align:center;
  display: none;
  padding-bottom: 200px;
  position: relative;
  top: 205px;
  margin-left: auto;
  margin-right: auto;
}
div#bar_container {
  height:10px;
  background:#dcdbd7;
  /*border-radius:20px;*/
  border-top:1px solid #cfcec9;
  border-bottom:1px solid #f7f6f4;
  box-shadow:0 -1px 0 #bab9b4;
  position:relative;
}
div#progress_bar {
  background-color:#dcf1c6;
background-image: -webkit-gradient(linear, center top, center bottom, color-stop(0%, #FF9E24 ), color-stop(100%, #D71E1E ));
background-image: -webkit-linear-gradient(top, #FF9E24  0%, #D71E1E  100%);
background-image: -moz-linear-gradient(top, #FF9E24  0%, #D71E1E  100%);
background-image: -ms-linear-gradient(top, #FF9E24  0%, #D71E1E  100%);
background-image: -o-linear-gradient(top, #FF9E24  0%, #D71E1E  100%);
background-image: linear-gradient(to bottom, #FF9E24  0%, #D71E1E  100%);
  height:110%;
  position:absolute;
  top:-3px;
  left:0px;
  border-top:1px solid #e5ebf4;
  /*border-radius:20px;*/
  box-shadow: 0 1px 6px #717171;
  width:10%;
  transition:width 0.1s ease-in-out;
}
div#progress_percentage {
  position:absolute;
  top:-25px;
  right:-10px;
  width:35px;
  height:15px;
  padding-top:4px;
  background:#edeef2;
  background-image: -webkit-gradient(linear, center top, center bottom, color-stop(0%, #edeef2), color-stop(100%, #c9c9d3));
  background-image: -webkit-linear-gradient(top, #edeef2 0%, #c9c9d3 100%);
  background-image: -moz-linear-gradient(top, #edeef2 0%, #c9c9d3 100%);
  background-image: -ms-linear-gradient(top, #edeef2 0%, #c9c9d3 100%);
  background-image: -o-linear-gradient(top, #edeef2 0%, #c9c9d3 100%);
  background-image: linear-gradient(to bottom, #edeef2 0%, #c9c9d3 100%);
  border-top:1px solid white;
  border-right:1px solid #d2d2d0;
  border-bottom:1px solid #999999;
  border-left:1px solid #d2d2d0;
  /*border-radius:7px;*/
  font-size:10px;
  color:#737371;
  text-shadow:0 0 2px #bebfc3;
  box-shadow:0 2px 5px #c1c1bf;
}
div#progress_percentage::before { /* used for the border of the arrow */
  content:"";
  position:absolute;
  left:14px;
  bottom:-11px;
  border-top:1px solid #999;
  border-right:1px solid transparent;
  border-bottom:1px solid transparent;
  border-left:1px solid transparent;
}
div#progress_percentage::after { /* the actual little arrow in the baloon */
  content:"";
  position:absolute;
  left:14px;
  bottom:-10px;
  border-top:1px solid #c9c9d3;
  border-right:1px solid transparent;
  border-bottom:1px solid transparent;
  border-left:1px solid transparent;
}
div#text_container {
	color:#757575;
	font-weight:bold;
	font-size:14px;
	text-shadow:-1px 1px 1px #d1d0cc;
	position: absolute;
	top: 5px;
	left: 313px;
	height: 0;
}

.progress-bar {
  position: relative;
  border: #ccc solid 1px;
  width: 400px;
  height: 20px;
  line-height: 20px;
  vertical-align: middle;
  overflow: hidden;
  margin: 20px auto;
  font-family: arial, sans-serif;
  font-weight: bold;
  font-size: 16px;
  box-shadow: 0 4px 10px -5px rgba(0, 0, 0, 0.25);
}
.progress-bar .bar {
  position: absolute;
  top: 0;
  height: 100%;
  overflow: hidden;
}
.progress-bar .bar span {
  position: absolute;
  display: block;
  width: 400px;
  height: 100%;
  text-align: center;
}
.progress-bar .bar.positive {
  background: #00bfa5;
  left: 0;
  width: 0%;
}
.progress-bar .bar.positive span {
  left: 0;
  color: #fff;
}
.progress-bar .bar.negative {
  background: #666666;
  right: 0;
  width: 100%;
}
.progress-bar .bar.negative span {
  right: 0;
  color: #fff;
}