/*!
 * Load Awesome v1.1.0 (http://github.danielcardoso.net/load-awesome/)
 * Copyright 2015 Daniel Cardoso <@DanielCardoso>
 * Licensed under MIT
 */
.fondo{
    background-color: rgba(0, 0, 0, 0.64);
    position:fixed;
    top:0px;
    bottom:0px;
    left:0px;
    right:0px;
    z-index:100000;
    height: 100%;
    width: 100%;
}
 .loader {
    box-sizing: border-box;
    display: flex;
    height: 200px;
    justify-content: center;
    position: relative;
    top: 50%;
}

.la-ball-scale,
.la-ball-scale > div {
    position: relative;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

.la-ball-scale {
    display: block;
    font-size: 0;
    color: #fff;
}

.la-ball-scale.la-dark {
    color: #333;
}

.la-ball-scale > div {
    display: inline-block;
    float: none;
    background-color: currentColor;
    border: 0 solid currentColor;
}

.la-ball-scale {
    width: 100px;
    height: 100px;
}

.la-ball-scale > div {
    width: 100px;
    height: 100px;
    border-radius: 100%;
    opacity: 0;
    -webkit-animation: ball-scale 1s 0s ease-in-out infinite;
       -moz-animation: ball-scale 1s 0s ease-in-out infinite;
         -o-animation: ball-scale 1s 0s ease-in-out infinite;
            animation: ball-scale 1s 0s ease-in-out infinite;
}

.la-ball-scale.la-sm {
    width: 16px;
    height: 16px;
}

.la-ball-scale.la-sm > div {
    width: 16px;
    height: 16px;
}

.la-ball-scale.la-2x {
    width: 64px;
    height: 64px;
}

.la-ball-scale.la-2x > div {
    width: 64px;
    height: 64px;
}

.la-ball-scale.la-3x {
    width: 96px;
    height: 96px;
}

.la-ball-scale.la-3x > div {
    width: 96px;
    height: 96px;
}

/*
 * Animation
 */
@-webkit-keyframes ball-scale {
    0% {
        opacity: 1;
        -webkit-transform: scale(0);
                transform: scale(0);
    }
    100% {
        opacity: 0;
        -webkit-transform: scale(1);
                transform: scale(1);
    }
}
@-moz-keyframes ball-scale {
    0% {
        opacity: 1;
        -moz-transform: scale(0);
             transform: scale(0);
    }
    100% {
        opacity: 0;
        -moz-transform: scale(1);
             transform: scale(1);
    }
}
@-o-keyframes ball-scale {
    0% {
        opacity: 1;
        -o-transform: scale(0);
           transform: scale(0);
    }
    100% {
        opacity: 0;
        -o-transform: scale(1);
           transform: scale(1);
    }
}
@keyframes ball-scale {
    0% {
        opacity: 1;
        -webkit-transform: scale(0);
           -moz-transform: scale(0);
             -o-transform: scale(0);
                transform: scale(0);
    }
    100% {
        opacity: 0;
        -webkit-transform: scale(1);
           -moz-transform: scale(1);
             -o-transform: scale(1);
                transform: scale(1);
    }
}
.temp_error{
    height: 40px;
    background: rgb(218, 69, 69);
    width: 78%;
    margin: 0 auto;
}
.temp_error span{
    color: #fff;
    line-height: 2.5;
}
.bar-main-container {
  background: #2DBE60;
  margin: 0 auto;
  width: 500px;
  height: 50px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  font-weight: normal;
  font-size: 1em;
  color: #FFF;
  position: relative;
 top: 10%;
}

.wrap { padding: 8px; }

.bar-porcentaje {
  float: left;
  background: rgba(0,0,0,0.13);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  padding: 9px 0px;
  width: 18%;
  height: 16px;
  text-align: center;
}

.bar-container {
  float: right;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  height: 10px;
  background: rgba(0,0,0,0.13);
  width: 78%;
  margin: 12px 0px;
  overflow: hidden;
}

.bar {
  float: left;
  background: #FFF;
  height: 100%;
  -webkit-border-radius: 10px 0px 0px 10px;
  -moz-border-radius: 10px 0px 0px 10px;
  border-radius: 10px 0px 0px 10px;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: alpha(opacity=100);
  -moz-opacity: 1;
  -khtml-opacity: 1;
  opacity: 1;
}

@media screen and (max-width: 600px) {
.bar-main-container {
  background: #2DBE60;
  margin: 0 auto;
  width: 300px;
  height: 50px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  font-weight: normal;
  font-size: 0.8em;
  color: #FFF;
  position: relative;
 top: 10%;
}
}

.editando {
    -webkit-animation: flasheo;
    -webkit-animation-duration: 1.5s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: ease-in-out;
    -moz-animation: flasheo;
    -moz-animation-duration: 1.5s;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: ease-in-out;
    -o-animation: flasheo;
    -o-animation-duration: 1.5s;
    -o-animation-iteration-count: infinite;
    -o-animation-timing-function: ease-in-out;
    animation: flasheo;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}
@-webkit-keyframes flasheo {
    0% {
        background-color: #fff;
    }
    25% {
        background-color: #f2f2f2;
    }
    50% {
        background-color: #fff;
    }
    75% {
        background-color: #f2f2f2;
    }
    100% {
        background-color: #fff;
    }
}
@-moz-keyframes flasheo {
    0% {
        background-color: #fff;
    }
    25% {
        background-color: #f2f2f2;
    }
    50% {
        background-color: #fff;
    }
    75% {
        background-color: #f2f2f2;
    }
    100% {
        background-color: #fff;
    }
}
@-o-keyframes flasheo {
    0% {
        background-color: #fff;
    }
    25% {
        background-color: #f2f2f2;
    }
    50% {
        background-color: #fff;
    }
    75% {
        background-color: #f2f2f2;
    }
    100% {
        background-color: #fff;
    }
}
@-keyframes flasheo {
    0% {
        background-color: #fff;
    }
    25% {
        background-color: #f2f2f2;
    }
    50% {
        background-color: #fff;
    }
    75% {
        background-color: #f2f2f2;
    }
    100% {
        background-color: #fff;
    }
}

.cargando{
  display: none;
  padding: 180px 0;
  text-align: center;
}
.cargando img{
  width: 55px;
}


/*  */
.min-check{
    position: relative;
    /* float: right;
    right: 80px; */
    top: 2px;
}

.checkmark__circle {
  stroke-dasharray: 166;
  stroke-dashoffset: 166;
  stroke-width: 2;
  stroke-miterlimit: 10;
  stroke: #7ac142;
  fill: none;
  animation: stroke .6s cubic-bezier(0.650, 0.000, 0.450, 1.000) forwards;
}

.checkmark {
  position: absolute;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  display: block;
  stroke-width: 2;
  stroke: #fff;
  stroke-miterlimit: 10;
  /* margin: 10% auto; */
  box-shadow: inset 0 0 0 #7ac142;
  animation: fill .4s ease-in-out .4s forwards, scale .3s ease-in-out .9s both;
      left: 40%;
}

.checkmark__check {
  transform-origin: 50% 50%;
  stroke-dasharray: 48;
  stroke-dashoffset: 48;
  animation: stroke .3s cubic-bezier(0.650, 0.000, 0.450, 1.000) .8s forwards;
}

@keyframes stroke {
  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes scale {
  0%, 100% {
    transform: none;
  }
  50% {
    transform: scale3d(1.1, 1.1, 1);
  }
}

@keyframes fill {
  100% {
    box-shadow: inset 0 0 0 30px #7ac142;
  }
}