#paginacion {
	padding: 3px;
	margin: 3px;
	text-align: center;
	font-family: Open-sans-r;
	font-size: 12px;
	margin-top: 20px;
}

#paginacion a {
	padding: 2px 5px 2px 5px;
	margin: 2px;
	border: 1px solid #007799;
	text-decoration: none;
	color: #006699;
}

#paginacion a:hover {
	border: 1px solid #006699;
	color: #000;
}

#paginacion span.actual {
	padding: 2px 5px 2px 5px;
	margin: 2px;
	border: 1px solid #607d8b;
	font-weight: bold;
	background-color: #607d8b;
	color: #FFF;
}

#paginacion span.disabled {
	padding: 2px 5px 2px 5px;
	margin: 2px;
	border: 1px solid #EEE;
	color: #DDD;
}

@media screen and (max-width: 600px) {
	.responsive-lat, .responsive-pag {
		display: none;
	}
	.responsive-nav {
		padding: 10px !important;
	}
}