.mediaItemShockWave {
	background-image: url(img/shockwave.gif);
	border: 1px dotted #cc0000;
	background-position: center;
	background-repeat: no-repeat;
	background-color: #ffffcc;
}

.mediaItemFlash {
	background-image: url(img/flash.gif);
	border: 1px dotted #cc0000;
	background-position: center;
	background-repeat: no-repeat;
	background-color: #ffffcc;
}

.mediaItemQuickTime {
	background-image: url(img/quicktime.gif);
	border: 1px dotted #cc0000;
	background-position: center;
	background-repeat: no-repeat;
	background-color: #ffffcc;
}

.mediaItemWindowsMedia {
	background-image: url(img/windowsmedia.gif);
	border: 1px dotted #cc0000;
	background-position: center;
	background-repeat: no-repeat;
	background-color: #ffffcc;
}

.mediaItemRealMedia {
	background-image: url(img/realmedia.gif);
	border: 1px dotted #cc0000;
	background-position: center;
	background-repeat: no-repeat;
	background-color: #ffffcc;
}

.mediaItemPlaylist{
	background-image: url(img/playlist.gif);
	border: 1px dotted #cc0000;
	background-position: center;
	background-repeat: no-repeat;
	background-color: #ffffcc;
}

.mediaItemFlv{
	background-image: url(img/flv.gif);
	border: 1px dotted #cc0000;
	background-position: center;
	background-repeat: no-repeat;
	background-color: #ffffcc;
}
