body{
font-family: 'Droid Sans', sans-serif;

}
p {
text-align: left;
}
td {
text-align: left;
}
.goog-te-gadget img{
    background-image: none !important;
}
.goog-te-gadget img {
    display: none;
}
.checkbox label{
    color:red;
}
table > thead > tr > th{
    background: #2554A4 !important;
    color: #fff;
    text-align:center;
    vertical-align: inherit !important;
}
table > tbody > tr > td{
    text-align:left;
    vertical-align: inherit !important;
}
@media (max-width: 1200px) {
.navbar-inverse .navbar-nav > li > a {
font-size: 11px;
}
}
@media (max-width: 992px) {
#ocultar{
display:none!important;
}
#menuHome{
display:none!important;
}
#navMenu{
display: block!important;
}
}
a:hover, a:focus{outline: tomato;text-decoration: none;}
h5{
    font-size:22px;
    text-align:center;
}
#contenido-view-guias{
    margin:20px 0 0;
}
.super-container{
    width:100%;
    padding:0;
}
.p-profile{
    font-size:18px;
    display: inline;
}
.p-descr{
    font-size:14px;
}
.p-tab{
    margin-left:10px;
}
#contenido-view-users{
    margin:20px 0 0 0;
}
h3{
    font-size:22px;
}
.header{
    background:white;
    width:100%;
    height:138px;
    color:white;
}
.guia-calificaciones{
    background: none repeat scroll 0 0 #F2F2F2;
    //margin: 50px 0 0;
    padding: 20px 0;
    text-align: center;
    width: 70%;
    float: right;
}
.guia-calificaciones h3{
    font-size:22px;
}
.btn-contratame{
    background: none repeat scroll 0 0 #2554a4;
    color: #ffffff;
    display: inline-block;
    font-size: 24px;
    margin: 20px 0;
    padding: 6px 10px;
}
.btn-contratame:hover, .btn-contratame:focus{
    color:#fff;
}
.redessociales{
    margin: 0 5px;
    height: 50px;
}
.img-profile{
    border: 1px solid #F0F0F0;
    padding:7px 12px;
    margin: 0 0 20px;
}
.text-rating{
    color: #4F4948;
    display: inherit;
    font-size: 48px;
    font-weight: bold;
    text-align: center;
}
.rating{
    display: inline;
    font-size: 20px;
}
.comments{
    background:#F2F2F2;
    margin: 20px 0 0;
}
.comments p{
    padding: 10px 20px;
}
.comments h4{
    margin: 20px 20px 0;
    font-size:16px;
    font-weight:bold;
    display:inline-block;
}
.comments span{
    font-size:16px;
}
.comments-rating{
    float: right;
    font-size: 24px;    
    margin: 10px 20px 0 0;
    text-align: center;
}
.comments-starbox{
    display: inline-block; 
    margin: 14px 20px 0px; 
    float: right;
}
.footer{
    background:white;
    width:100%;
    color:black;
    font-size:12px;
}
.footer img{
    margin:20px auto;
}
.admin-panel{
    border-left: 4px solid #2554A4;
    margin:0 0 20px;
}
.admin-panel ul{
    padding:0;
    border-right: 1px solid #B4B2A9;
    border-top: 1px solid #B4B2A9;
    border-bottom: 1px solid #B4B2A9;
}
.admin-panel li{
    border-top: 1px solid #B4B2A9;
    list-style: none;
}
.admin-panel li:first-child{
    border:none;
}
.admin-panel li:hover{
    background: #2554A4;
}
.admin-panel li a{
    color: #000000;
    display: inline-block;
    margin: 0;
    padding: 13px;
    width: 100%;
}
.admin-panel li a:hover{
    color:#fff;
}
.form-group{
    margin:20px 0 0;
}
img.loading{
     width: 30px;
}
.guia-list{
    width:100%;
    display:block;
    margin: 30px 0 0 0;
}
.guia-item-name{
    font-size:24px;
}
.guia-item-name a, h1{
    color:#332E2F;
    margin:0;
}
.guia-item-descripcion{
    width:100%;
}
.guia-item-descripcion-more{
    text-align: center;
}
.guia-item-descripcion-more a{
    text-decoration:none;
    color:#000;
    font-weight: bold;
}
.guia-item-idiomas-item{
display: inline-block;
background: #C5BCAB;
padding: 4px 25px 4px 8px;
margin: 5px 10px 0 0;
color:#191A1E;
font-size:12px;
}
.guia-item-idiomas-item-decoration{
width: 0;
height: 0;
border-bottom: 17px solid #2F2E31;
border-right: 17px solid transparent;
position: absolute;
display: inline-block;
margin: 5px 0 0 -27px;
}
.guia-item-button-comentarios{
background: #2554A4;
width: 80%;
margin: 0 auto;
padding: 4px 6px;
text-align: center;
}
.guia-item-button-comentarios a{
color:#fff;
}
.comentarios_guia{
    background: lightgray;
    border: 1px solid;
    padding-left: 10px;
}
.paginacion{
    display: block;
    margin: 40px auto;
    text-align: center;
    max-height: 24px;
}
.paginacion a{
padding: 5px 5px;
margin-right: 10px;
font-size: 16px;
color: #000;
font-weight: bold;
}
.paginacion a:hover, .paginacion a:focus, .paginacion a.selected{
outline:tomato;
text-decoration: none;
background: #2554A4;
color: #fff;
padding: 2px 5px;
}
.paginacion a.control{
padding: 5px 5px;
margin-right: 10px;
font-size: 16px;
color: #000;
font-weight: bold;
float: left;
}
.scroll_paginacion{   
    float: left;
    overflow: hidden;
    width: 70%;
    max-height: 25px;
}
.paginacion a:hover, .paginacion a:focus{
outline:tomato;
text-decoration: none;
background: #2554A4;
color: #fff;
padding: 2px 5px;
}
.autocomplete{
    display: block;
    width: 100%;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.anclaIdioma{
    cursor: pointer;
    color: #000;
    width: 100%;    
}
/*div .idioma_seleccionado{
    background: #2554A4;
    margin: 4px;
    padding: 5px 9px;
    color: #fff;
}
div .idioma_seleccionado a{ 
    color: #fff;
    margin: 0 0 0 6px;
}*/
div #idiomas-seleccionados{
    display: inline-block;
}
/*div .servicio_seleccionado{
    background: #2554A4;
    margin: 4px;
    padding: 5px 9px;
    color: #fff;
}
div .servicio_seleccionado a{ 
    color: #fff;
    margin: 0 0 0 6px;
}*/
div #servicios-seleccionados{
    display: inline-block;
}
div #telefonos-seleccionados{
    display: inline-block;
}
div #redes-seleccionadas{
    display:inline-block;
}
div #emails-seleccionados{
    display: inline-block;
}
.guia-item-calificacion{
    font-size: 11px;
    text-align: center;
}
.btn-remove{
    width: 10px;
    height: 10px;
    display: inline;
    margin: -6px 0px 0px -10px;
    cursor:pointer;
}
.idioma, .capacitacion, .areas, .servicios, .ciudades_guia, .telefono, .email{
    background: none repeat scroll 0 0 #C5BCAB;
    margin: 4px;
    padding: 5px 9px;
}
.red-social{
    margin: 4px;
    padding: 5px 9px;
}
.red-social img{
    width: 50px;
}
.red-social > .btn-remove{
    margin: auto;
}
.idioma a, .capacitacion a, .areas a, .servicios a, .ciudades_guia a, .telefono a, .email a{
    color: #FFFFFF;
    margin: 0 0 0 6px;
}
.box-wrapper{
    width:100%;
    display:table;
    margin: 0 0 10px;
}
#idiomas-container, #capacitaciones-container, #areas-container, #servicios-container, #ciudades_guia-container, #telefonos-container, #emails-container, #redes-container{
    display:inline-block;
}
/*.container-header{
    position: relative;
    top: -50px;
    width: 900px;
}*/
.header-bg{
    height:137px;
/*    background:url("../img/header.png") 0 0 / cover;*/
    position:relative;
    z-index:998;
}
.header-bg img{
    margin: -2px;
    position: absolute;
    height: 119px;
}
.header-bg-yellow{
background: none repeat scroll 0 0 #FFC84C;
height: 41px;
position: absolute;
top: 77px;
width: 100%;
z-index: 1;
}
.header-bg-orange{
background: none repeat scroll 0 0 #FFBC24;
height: 77px;
position: absolute;
top: 0px;
width: 100%;
z-index: 1;
}
.header-links{
height: 30px;
width: 381px;
z-index: 9999;
float: right;
position: relative;
text-align: right;
padding-right: 30px;
}
.header-links a{
    color:white;
}
.links-login{
    display: inline;
    padding:10px 0 0;
}
.container-bg{
/*background-image: url("../img/content-bg.png");
background-repeat: no-repeat;
background-size: contain;*/
height: 113px;
position: absolute;
top: 137px;
width: 1140px;
z-index: 99;
}
.control-panel{
    background-color: #E3DECC;
    margin:0 20px;
    padding:10px;
}
.control-panel img{
    margin:0 auto;
}
label{
    font-weight:normal;
}
select{
    text-align:left;

}
.form-control{
    border-radius: 0;
    box-shadow:0px 0px 0px #fff;
    text-align: center;
}
h4{
    font-size:24px;
}
.control-panel h4{
    color:#332E2F;
}
.guias-search{
width: 70%;
border: 1px solid #000;
display: inline;
font-size: 19px;
height: initial;
white-space: nowrap;
overflow: hidden;
}
.guias-search-label{
    display:block;
    margin: 110px auto 0;
}
.admin-search{
margin: 0 auto;
width: 50%;
border: 1px solid #000;
display: inline;
font-size: 19px;
height: initial;
}
.search-guia-submit{
    background: none repeat scroll 0 0 #2554A4;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-table;
    font-size: 22px;
    line-height: normal;
    padding: 7px 6px;
    position: relative;
    top: 1px;
    width: 50px;
}
.starbox {
    text-align:center;
}
.estrella{
    display: inline-block;
    width: 26px;
    height: 24px;
    background: url('../img/fontur/control-panel-estrella.png');
    background-repeat: no-repeat;
    background-position: right top;
    background-size: 58px 24px;
    padding: 0;
    margin: 0px;
    text-decoration: none;
}
.starbox .estrella.seleccionado{
    background-position: left top;
}
.starbox .estrella.simple{
    cursor: default;
}
.Reserva_item{
    margin: 20px;
}
.strong{
    font-weight: bold;
}
 .Reserva_botones{
    margin-left: 20px;
    width: 100%;
}
 .Reserva_botones_boton{
    background-color: lightgray;
    padding: 5px 5px;
    margin-left: 10px;
    font-size: 16px;   
    border: 1px solid;
    float: left;
}
 .Reserva_botones_boton a{
    color: #000;
}
.ReservaGuia .Reserva .form-bajo{
    margin-top: 20px;
}
.textrazones{
    width: 100%;
}
.mapa-del-sitio{
    color:#213F9A;
    margin: 47px auto;
    position:absolute;
    background: #fff;
    width: 50%;
    z-index: 999;
    padding: 0 5px;
}
.mapa-del-sitio a{
    color: inherit;
}
.mapa-del-sitio-decoration{
    background: none repeat scroll 0 0 #213F9A;
    height: 1px;
    left: 0;
    margin: 57px 0 0;
    position: absolute;
    width: 50%;
}
.header-title{
    color: #fff;
    font-size: 36px;
    margin-left: 50px;
    position: absolute;
    top: 45px;
    z-index: 999;
}
.header-subtitle{
    color: #0C378A;
    margin: 0 0 0 100px;
    position: absolute;
    top: 100px;
    z-index: 999;
    font-weight: bold;
}
.header-ahome{
    color: #0C378A;
    margin: -17px 0 0 0px;
    position: absolute;
    top: 100px;
    z-index: 999;
    font-weight: bold;
    background: url("../img/fontur/logoHome.png") no-repeat;
    width: 60px;
    height: 60px;
}
.first-content{
    margin:115px 0 0 0;
}
.index-bg{
    /*margin-top: -39px;*/
}
.index-container{
    padding:0;
    width:100% !important;
    position: relative;
    //margin-top: -110px;
}
.index-container-bg{
    position: absolute;
    margin: -138px auto 0;
    right: 0;
    left: 0;
}
.index-options{
    left: 0;
    margin: 0 auto;
    position: absolute;
    right: 0;
    width: 308px;   
    z-index: 9999;
}
.index-options-img{
margin: 0 auto;
right: 0;
left: 0;
position: inherit;
}
#google_translate_element{
position: relative;
}
.goog-te-menu-value span {
padding: 3px;
}
.index-options-first{
background-image: url("../img/fontur/index_idiomas.png");
background-repeat: no-repeat;
background-attachment: scroll;
background-position: 0 0;
background-color: rgba(0,0,0,0) ;
//background: url("../img/fontur/index2.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
height: 49px;
width: 234px;
position: absolute;
top: 210px;
right: 0;
left: 0;
margin: 0 0 0 70px;
}
.index-options-first a{
position: relative;
color: #fff;
}
.index-options-first .goog-te-gadget-simple {
    background-color: #0C378A !important;
    border:  none !important;
    margin-top: 15px;
    margin-left: 55px;
}
.index-options-first .goog-te-gadget-simple .goog-te-menu-value span {
    color: white;
}
.index-options-second{
background-image: url("../img/fontur/index1.png");
background-repeat: no-repeat;
background-attachment: scroll;
background-position: 0 0;
background-color: rgba(0,0,0,0) ;
height: 66px;
position: absolute;
width: 308px;
top: 255px;
}
.index-options-second a{
top: 26px;
position: relative;
left: 91px;
color: #fff;
}
.index-options-third{
background-image: url("../img/fontur/index2.png");
background-repeat: no-repeat;
background-attachment: scroll;
background-position: 0 0;
background-color: rgba(0,0,0,0) ;
//background: url("../img/fontur/index2.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
height: 49px;
width: 234px;
position: absolute;
top: 320px;
right: 0;
left: 0;
margin: 0 auto;
}
.index-options-third a{
top: 16px;
position: relative;
left: 65px;
color: #fff;
}
.index-footer{
    background: #E3DECC;
    width:100%;
    text-align:center;
    padding:4px;
    margin-top: -33px;
    z-index: 9999;
}
.index-footer-item{
    color: #0B327C;
    display: inline;
    margin: 0 20px;
    font-size: 13px;
    font-weight: bold;
}
/*          Vertical tabs           */
ul.resp-tabs-list, p {
    margin: 0px;
    padding: 0px;
}

.resp-tabs-list li {
    font-weight: 600;
    font-size: 14px;
    display: inline-block;
    padding: 13px 15px;
    margin: 0;
    list-style: none;
    cursor: pointer;
    float: left;
}

.resp-tabs-container {
    padding: 0px;
    background-color: #fff;
    clear: left;
}

h2.resp-accordion {
    cursor: pointer;
    padding: 5px;
    display: none;
}

.resp-tab-content {
    display: none;
    padding: 15px;
}

.resp-tab-active {
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    margin-bottom: -1px !important;
    padding: 12px 14px 14px 14px !important;
}

.resp-tab-active {
    border-bottom: none;
    background-color: #fff;
}

.resp-content-active, .resp-accordion-active {
    display: block;
}

.resp-tab-content {
    border: 1px solid #c1c1c1;
}

h2.resp-accordion {
    font-size: 13px;
    border: 1px solid #c1c1c1;
    border-top: 0px solid #c1c1c1;
    margin: 0px;
    padding: 10px 15px;
}

h2.resp-tab-active {
    border-bottom: 0px solid #c1c1c1 !important;
    margin-bottom: 0px !important;
    padding: 10px 15px !important;
}

h2.resp-tab-title:last-child {
    border-bottom: 12px solid #c1c1c1 !important;
    background: blue;
}
/*-----------Vertical tabs-----------*/
.resp-vtabs ul.resp-tabs-list {
    float: left;
    width: 30%;
    /*border-top: 2px solid #B4B2A9;
    border-left: 2px solid #B4B2A9;
    border-bottom: 2px solid #B4B2A9;
    border-right: 4px solid #2554A4;*/
}
.resp-vtabs ul.resp-tabs-list2 {
    float: left;
    border-top: 2px solid #B4B2A9;
    border-left: 2px solid #B4B2A9;
    border-bottom: 2px solid #B4B2A9;
    border-right: 2px solid #B4B2A9;
    padding-left: 40px;
    padding-right: 40px;
}
.resp-vtabs .resp-tabs-list2 li{
    display: block;
    padding: 15px 15px !important;
    margin: 0;
    cursor: pointer;
    float: none;
    text-align: center;
    border-top:2px solid #ccc;
}
.resp-vtabs .resp-tabs-list2 li a{
    color: #000;
}
.resp-tabs-list2 li:first-child{
    border-top:none;
}
.resp-tabs-list2 li:hover{
    background: #2554A4;
    color: #fff;
}
.resp-tabs-list2 li:hover a{
    color: #fff;
}
.resp-tabs-list {
    border-right: 4px solid #2554A4;
}
.resp-vtabs .resp-tabs-list li {
    display: block;
    padding: 15px 15px !important;
    margin: 0;
    cursor: pointer;
    float: none;
    text-align: center;
    border-top:2px solid #ccc;
}

.resp-tabs-list li:first-child{
    border-top:none;
}
.resp-tabs-list li:hover{
    background: #2554A4;
    color: #fff;
}
.resp-vtabs .resp-tabs-container {
    /*padding: 0px;
    background-color: #fff;
    border: 1px solid #c1c1c1;
    float: left;
    width: 68%;
    min-height: 250px;
    border-radius: 4px;
    clear: none;*/
    clear: none;
    float: left;
    min-height: 250px;
    padding: 0;
    width: 70%;
}

.resp-vtabs .resp-tab-content {
    border: none;
}

.resp-vtabs li.resp-tab-active {
    /*border: 1px solid #c1c1c1;
    border-right: none;
    background-color: #fff;
    position: relative;
    z-index: 1;
    margin-right: -1px !important;
    padding: 14px 15px 15px 14px !important;*/
    background: #2554A4;
    color: #fff;
}

.resp-arrow {
    width: 0;
    height: 0;
    float: right;
    margin-top: 3px;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 12px solid #c1c1c1;
}

h2.resp-tab-active span.resp-arrow {
    border: none;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 12px solid #fff;

}

/*-----------Accordion styles-----------*/
h2.resp-tab-active {
    background: #2554A4 !important;
    color:#fff;
}
.resp-easy-accordion  h2.resp-accordion {
        display: block;
}
.resp-easy-accordion .resp-tab-content {
    border: 1px solid #c1c1c1;
}

.resp-easy-accordion .resp-tab-content:last-child {
    border-bottom: 1px solid #c1c1c1 !important;
}

.resp-jfit {
    width: 100%;
    margin: 0px;
}

.resp-tab-content-active {
    display: block;
}
.resp-tab-content-active h4{
    font-size: 16px;
    margin: 0 0 0 20px;
}
.resp-tab-content-active li{
    list-style: none;
    margin:20px 0;
}
h2.resp-accordion:first-child {
    border-top: 1px solid #c1c1c1 !important;
}
h2.resp-accordion:hover {
    background: none repeat scroll 0 0 #2554A4 !important;
    color: #FFFFFF;
}
/*          /Vertical tabs          */
.reserva-panel-left{
    background: #D3D0CC;
    padding: 20px;
}
.reserva-panel-left p{
    font-size:18px;
}
.reserva-panel-left .rating{
    display: inline;
font-size: 32px;
color:#332E2F;
}
.reserva-panel-left .starbox{
    text-align: left;
}
.reserva-panel-right{
    border: 2px solid rgb(180, 178, 169);
}
.reserva-panel-right-item{
    margin:40px;
    color:#000;
}
.reserva-panel-right>div:nth-of-type(1){
    margin: 40px 40px 30px;
}
.reserva-panel-right>div:nth-of-type(3){
    margin: 30px 40px 40px
}
.divider{
    background: none repeat scroll 0 0 #2554A4;
    height: 1px;
    margin: 0 40px;
}
.reserva-panel-right-item h3{
    font-size: 18px;
}
.reserva-panel-right-item .checkbox{
    display:inline-block;
    width:50%;
    font-size:18px;
    line-height: normal;
}
textarea{
    width:100%;
}
.reserva-panel-right-item .date{
    font-size: 18px;
    padding: 10px 0 0 20px;
}
.date label{
    margin: 0 10px 0 0;
}
.reserva-panel-right-item > h3 > .number, .reserva-panel-right-item > h3 > .text, .reserva-panel-right-item > h3 > .select{
    display: inline;
    float: right;
}
.terminos-condiciones{
    font-size:12px;
}
.submit2{
    float:right;
    width: auto !important;
}
.submit{
    background: none repeat scroll 0 0 #2554A4 !important;
    display: inline-flex;
    text-align: center;
    width: 100px;
    margin: 0 0 0 15px;
}
.submit a{
    color: #FFFFFF;
    padding: 8px 20px;
    width: 100%;
    background: rgba(0,0,0,0);
    border:0 none;
    text-decoration:none;
    line-height: normal;
}

.submit input[type='submit']{
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: 0 none;
    color: #FFFFFF;
    height: 33px;
    line-height: normal;
    padding: 8px 20px;
    text-decoration: none;
    width: 100%;
}
.certificacion{

}
.btn-file2{
    height: 32px;
    margin-bottom: 10px;
}
.btn-file2 input[type='file']{
    margin-top: -4px;
}
.btn-file{
    background: none repeat scroll 0 0 #2554A4;
    max-width: 230px;
    position: relative;
    text-align: center;
    width: 100%;
}
.btn-file input[type='file']{
    color: #FFFFFF;
    padding: 8px 20px;
    width: 100%;
    background: rgba(0,0,0,0);
    border:0 none;
    text-decoration:none;
    line-height: normal;
    opacity: 0 !important;
    overflow: hidden !important;
    cursor:pointer;
}
.btn-file p{
    color: #FFFFFF;
    left: 0;
    margin: 5px 0;
    position: absolute;
    right: 0;
       max-width: 400px;
}
.form-panel{
    border: 2px solid rgb(180, 178, 169);
}
.form-panel-item{
    margin:40px;
}
.form-panel-item h4{
    font-size:20px;
    text-align: center;
}
/*input[type='file'], input[type='submit']{
    background: none repeat scroll 0 0 #2554A4;
    display: inline-flex;
    text-align: center;
    width: 100px;
    color: #FFFFFF;
    padding: 8px 20px;
    width: 100%;
}*/
.form-panel-item > .input, 
.form-panel-item > .select, 
.form-panel-item > .password, 
.form-panel-item > #departamentos > .select,
.form-panel-item > #ciudades > .select{
    width:100%;
    font-size: 18px;
    text-align: left;
    margin:15px 0;
}
.form-panel-item > .row > .col-md-9 > .input,
.form-panel-item > .row > .col-md-3 > .input,
.col-md-8 > .row > .col-md-9 > .input,
.col-md-8 > .row > .col-md-3 > .input{
    width:100%;
    font-size: 18px;
    text-align: left;
    margin: 0 0 15px;
}
/*.form-panel-item > .row > .col-md-3 > .input > label,
.col-md-8 > .row > .col-md-3 > .input > label{
    color:#fff;
}*/
.form-panel-item > .row > .col-md-8 > .input, 
.form-panel-item > .row > .col-md-8 > .select{
    width:100%;
    font-size: 18px;
    text-align: left;
    margin:15px 0;
}
.form-panel-item label{
    font-size:18px;
}
.form-panel-item > .row > .col-md-7 > .input,
.form-panel-item > .row > .col-md-5 > .select{
    width:100%;
    font-size: 18px;
    text-align: left;
    margin:0;
}
.form-panel-item input, .form-panel-item select{
    width:100%;
    height:30px;/**/
}
input[type="checkbox"]{
    height:18px;
    width:inherit;
}
.btn-fullwidth{
    text-align: right;
}
.btn-add{ 
    background: none repeat scroll 0 0 #2554A4;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    float: right;
    font-size: 14px;
    margin: 4px 10px;
    padding: 5px 20px;
}

.date > select{
    width:auto;
}
.input.date label{
    width:100%;
    margin-bottom: 5px;
}
.input.time label{
    width:100%;
    margin-bottom: 5px;
}
.input.time select{
    margin-bottom: 5px;
    width: auto;
}
td.disponible{
    background-color: lightblue;
}
.dotted{
    list-style: inherit !important;
}

div #Checkdias input[type=checkbox] {
    margin: 0px;
    padding: 0px;
    height: 17px;
    width: 17px;
}
div .FormDisponibilidad h4{
    text-align: justify;
}
.guia-item-search{
    display: inline;
    font-weight: bold;
}
.guia-item-profile{
    display: inline-flex;
    font-weight: bold;
}
.description{
    margin:20px 0;
}
div.checkbox_normal div.input.checkbox{    
    width: auto;
}
div.checkbox_normal div.input.checkbox label{
    color: black;
}
@media screen and (max-width: 1200px) {
    .header{
        height: 166px;
    }
    .header-title{
        top:40px;
        margin:0;
    }
    .header-subtitle{
        top:97px;
        margin:0;
    }
    .header-links{
        margin: 33px 0 0 0;
        text-align: right;
    }
/*    .header-bg-orange{
        top:0;
    }
    .header-bg-yellow{
        top:80px;
    }*/
    .mapa-del-sitio{
        margin: -19px 0;
        top: 10px;
        position: initial;
    }
    .first-content{
        margin:10px 0 0 0;
    }
    .index-bg{
/*        height:600px;*/
        margin-top: -29px;
    }
    .index-options{
        margin: -29px auto 0;
    }
    .mapa-del-sitio-decoration{
        margin: -9px 0;
    }
    .guia-calificaciones{
        width:100%;
        float:none;

    }
    .guia-calificaciones h3{
        font-size:16px;
    }
    .guias-search{
        margin:0 auto;
    }
    .index-footer {
        /*margin-top: 120px;*/
    }
}
@media screen and (max-width: 992px) {
    .header-links{
        margin: 10px 0 0 0;
    }
    .bx-wrapper img {
        max-height: 480px;
    }
    .index-bg{
/*        height: 464px;*/
        margin-top: -29px;
    }
    .index-options{
        margin: -80px auto 0;
    }
    .guias-search{
        margin:0 auto;
    }
    .resp-vtabs .resp-tabs-list li {
        font-size:12px;
    }
    .form-panel-item input, .form-panel-item select{
        text-align:center;
    }
    .certificacion{
        max-width: 150px;
        /*margin: 10px auto;*/
    }
    .mapa-del-sitio{
        margin: -29px 0;
        position: absolute;
    }
    .index-footer {
        /*margin-top: 240px;*/
    }
}
@media screen and (max-width: 768px) {
    .header{
        height:141px;
    }
    .header-title{
        font-size:32px;
        top:50px;
    }
    .header-bg-orange{
        height:100px;
    }
    .header-bg-yellow{
        top:90px;
    }
    .header-subtitle{
        font-size: 20px;
        top:111px;
    }
    .index-bg{
/*        height:155px;*/
        margin-top: 3px;
    }
    .index-options{
        margin: -120px auto;
    }
    .control-panel{

    }
    .comments-rating{
        float: none;
        font-size: 32px;    
        margin: 0;
    }
    .comments-starbox{
        width:100%; 
        float: none;
        margin: 0;
    }
    ul.resp-tabs-list {
        display: none;
    }

    h2.resp-accordion {
        display: block;
    }

    .resp-vtabs .resp-tab-content {
        border: 1px solid #C1C1C1;
    }
    .resp-vtabs .resp-tabs-container {
        border: none;
        float: none;
        width: 100%;
        min-height: initial;
        clear: none;
    }
    .resp-accordion-closed {
        display:none !important;
    }
    .resp-vtabs .resp-tab-content:last-child {
        border-bottom: 1px solid #c1c1c1 !important;
    }
    h2.resp-accordion{
        font-size:18px;
    }
    .mapa-del-sitio{
        margin: 18px 0 0 0;
        padding: 0 0 22px 0;
        position:inherit;
        width: 100%;
    }
    .guia-item-button-comentarios{
        width: 100%;
    }
    .btn-contratame{
        width: 100%;
        text-align: center;
    }    
    .index-footer {
        /*margin-top: 370px;*/
    }
}
@media screen and (max-width: 550px) {
    .header-title{
        top:30px;
    }
    .header-subtitle{
        top: 99px;
    }
    .index-bg{
/*        height: 220px;*/
    }
    .index-options{
        margin: -177px auto;
    }
    .index-options img{
        display:none;
    }    
    .index-footer {
        /*margin-top: 500px;*/
    }
}
div .calCriterio{
    margin-top: 10px;
    margin-bottom: 10px;
}
div .floatRigth{
    float: right;
}
.ReservaGuiaRight_botones{
    margin-left: 20px;
    height: 24px;
}
.ReservaGuiaRight_botones .ReservaGuiaRight_boton{
    background-color: lightgray;
    padding: 5px 5px;
    margin-left: 10px;
    font-size: 16px;   
    border: 1px solid;
    float: left;
}
.ReservaGuiaRight_botones .ReservaGuiaRight_boton.seleccionado{
    background-color: darkgray;    
}
.ReservaGuiaRight_botones .ReservaGuiaRight_boton a{
    color: #000;
}
.ReservaGuiaRight_Formulario{
    border: 1px solid #ccc;
    margin: 10px;
    padding: 20px;
}
div#demoTab {
border: none !important;
}
div .horario_dis{
    width: 50px;
    background-color: #FF8001;
    height: 20px;
}
div .horario_ocu{
    width: 50px;
    background-color: #E30A00;
    height: 20px;
}
div .terminos{
    z-index: 9999;
}
div .terminos p{
    /*text-align: justify;*/
    margin: 10px;
    
}
div .title_cerificado{
    background-color: #348441;
    color: #fff;
    width: 102px;
    margin-left: -18px;
    font-size: 11px;
    margin-top: 5px;
    text-align: center;
}
div.terminos.terminos2 {
    height: 200px;
    overflow-y: auto;
    border: 1px solid rgb(180, 178, 169);
}
.actions_guia{
margin-top: 400px;
}

div .boton_reserva{
    margin-bottom: 19px;
    float: left;
    padding: 10px 20px;
    border-bottom: 5px solid #006DB2;
}
div .boton_reserva a{
    font-size: 14px;
}
div .boton_reserva.select{
    background-color: #006DB2;
}
div .boton_reserva.select a{
    color: white;
}
.img-inicio{
    border: 1px solid #F0F0F0;
    padding: 7px 12px;
    margin: 0 0 20px; 
    height: 280px;
}
.botones_ubicacion{
    margin: 10px;
}
#imagenes_inicio{
    margin-top: 50px;
}
.mensaje-informacion{
    border-color: #6b8bb4;
    background: #dbe3ed url("../img/info.gif") no-repeat 10px 50%;
    padding: 5px 5px 5px 30px !important;
    margin: 5px 0 !important;
    border-style: solid !important;
    border-width: 1px !important;
    color: black !important;
    border-radius: 3px;
}
.mensaje-error{
    background: #fda89e url("../img/alert.gif") no-repeat 10px 50%;
    border-color: #c66;
    padding: 5px 5px 5px 30px !important;
    margin: 5px 0 !important;
    border-style: solid !important;
    border-width: 1px !important;
    color: black !important;
    border-radius: 3px;
}
.mensaje-ok{
    border-color: #9bae50;
    background: #e5f1b4 url("../img/ok.gif") no-repeat 10px 50%;
    padding: 5px 5px 5px 30px !important;
    margin: 5px 0 !important;
    border-style: solid !important;
    border-width: 1px !important;
    color: black !important;
    border-radius: 3px
}
.navbar-inverse .navbar-nav > .active > a {
background-image: linear-gradient(to bottom, #FF7305 0%, #C45600 100%) !important;
}
.navbar-inverse .navbar-nav > li > a {
  color: #FFF !important;
}
.navbar-inverse .navbar-nav > li  {
background-image: linear-gradient(to bottom, #FF7305 0%, #C45600 100%) !important;
}
.navbar-inverse  ul {
margin: 3.5px -15px; !important;
}
.bx-wrapper .bx-viewport {
background:rgba(255, 255, 255, 0) !important;
}
.titleseccion{
	font-weight: bold;
font-size: 22px;
color: #FF7000;
}
.titleseccion2{
	font-weight: bold;
font-size: 18px;
color: #FF7000;
}
.contenidopublicacion
{
top: -137px;
position: relative;
}