.wide-container {
  height: 100vh;
  margin: 0 auto;
}
#slides {
  position: relative;
}
#slides .slides-container {
  display: none;
  z-index: 0;
}
#slides .scrollable {
  *zoom: 1;
  position: relative;
  top: 0;
  left: 0;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  height: 100%;
}
#slides .scrollable:after {
  content: "";
  display: table;
  clear: both;
}
.slides-navigation {
  margin: 0 auto;
  position: absolute;
  z-index: 3;
  top: 46%;
  width: 100%;
}
.slides-navigation a {
  position: absolute;
  display: block;
}
.slides-navigation a.prev {
  left: 0;
}
.slides-navigation a.next {
  right: 0;
}
.slides-pagination {
  position: absolute;
  z-index: 3;
  bottom: 0;
  text-align: center;
  width: 100%;
}
.slides-pagination a {
  border: 2px solid #fff;
  border-radius: 15px;
  width: 15px;
  height: 15px;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR4nGP6zwAAAgcBApocMXEAAAAASUVORK5CYII=");
  margin: 5px 2px;
  overflow: hidden;
  text-indent: -100%;
}
.slides-pagination a.current {
  background: #fff;
}
.context {
  position: relative;
  top: 35%;
  text-align: center !important;
}
.context h3 {
  color: #fff;
  font-family: 'Open-sans-l', 'Arial Narrow', Arial, sans-serif;
  font-size: 45px;
  padding: 0px 2.5em 0px 2.5em;
  text-shadow: rgba(0, 0, 0, 0.9) 1px 2px 2px;
  padding-bottom: 15px;
  margin-bottom: 30px;
  line-height: 65px;
}
.context a {
  background: #92cdd1;
  font-family: 'Open-sans-r';
  border-radius: 0.3em;
  font-size: 20px;
  color: #fff;
  padding: 0.8em 1.2em 0.8em 1.2em;
  margin-top: -20px;
}
@media screen and (max-width: 1026px){
.wide-container{
  height: 100vh;
}
.context {
  top: 22%;
}
.context h3 {
  font-size: 35px;
  }
}
@media screen and (max-width: 900px){
.context {
  top: 22%;
}
.context h3 {
  font-size: 40px;
  line-height: 35px;
}
}
@media screen and (max-width: 650px){
.context h3 {
  font-size: 30px;
}
}
@media screen and (max-width: 500px){
.context h3 {
  font-size: 25px;
}
}