
div {
	background: #f6f6f6;
	color: #000000;
	margin-left: 5px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
 
}
.titulossecciones {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-weight: bold;
	color: #D00000;
}
.tablatexto {
	font-family: Calibri;
	font-size: 12px;
	font-weight: normal;
	background-color: #FFFFFF;
 }
  
.rounded:before {
	margin-bottom: -10px;
	height: 8px;
	display: block;
	border: none;
	content: url(top-left.png);
	padding: 0;
	line-height: 0.1;
	font-size: 1px;
	background-attachment: scroll;
	background-color: #f6f6f6;
	background-image: url(top-right.png);
	background-repeat: no-repeat;
	background-position: right top;
}
.rounded:after {
	display: block;
	line-height: 0.1;
	font-size: 1px;
	content:  url(bottom-left.png);
	margin: 0 0 -1px 0;
	height: 8px;
	background: transparent url(bottom-right.png) scroll no-repeat bottom right;
	padding: 0;
	background-attachment: scroll;
	background-color: #f6f6f6;
	background-image: url(bottom-right.png);
	background-repeat: no-repeat;
	background-position: right bottom;
}


.roundedevento:before {
	margin-bottom: -10px;
	height: 8px;
	display: block;
	border: none;
	content: url(top-left2.png);
	padding: 0;
	line-height: 0.1;
	font-size: 1px;
	background-attachment: scroll;
	background-color: #f6f6f6;
	background-image: url(top-right2.png);
	background-repeat: no-repeat;
	background-position: right top;
}
.roundedevento:after {
	display: block;
	line-height: 0.1;
	font-size: 1px;
	content:  url(bottom-left2.png);
	margin: 0 0 -1px 0;
	height: 8px;
	background: transparent url(bottom-right2.png) scroll no-repeat bottom right;
	padding: 0;
	background-attachment: scroll;
	background-color: #f6f6f6;
	background-image: url(bottom-right2.png);
	background-repeat: no-repeat;
	background-position: right bottom;
}

