.BG-gris {
    background: #f2f2f2;
}
.Cliente-iniciar {
    width: 100%;
}
.Cliente-iniciar-int {
    padding-top: 80px;
    margin: 0 auto;
    width: 90%;
}
.Cliente-iniciar-int-form {
    background: #fff;
    -webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
    border-radius: 3px;
    margin: 0 auto;
    text-align: center;
    padding: 20px 30px;
    width: 400px;
}
.Cliente-iniciar-int-form img {
    width: 250px;
}
.Cliente-iniciar-int-form h1 {
    color: #666;
    font-family: Roboto-Bold;
    font-size: 20px;
}
.Cliente-iniciar-int-form label {
    color: #999;
    display: block;
    font-size: 12px;
    font-family: Roboto-Bold;
    margin-bottom: 5px;
    text-align: left;
}
.Cliente-iniciar-int-form input[type=input] {
    border: none;
    border: 1px solid #ddd;
    border-radius: 3px;
    background: #f9f9f9;
    padding: 10px 5px;
    font-size: 14px;
    font-family: Roboto-Regular;
    margin-bottom: 10px;
    width: 100%;
}
.Cliente-iniciar-int-form input[type=email] {
    border: none;
    border: 1px solid #ddd;
    border-radius: 3px;
    background: #f9f9f9;
    padding: 10px 5px;
    font-size: 14px;
    font-family: Roboto-Regular;
    margin-bottom: 10px;
    width: 100%;
}
.Cliente-iniciar-int-form input[type=password] {
    border: none;
    border: 1px solid #ddd;
    border-radius: 3px;
    background: #f9f9f9;
    padding: 10px 5px;
    font-size: 14px;
    font-family: Roboto-Regular;
    margin-bottom: 10px;
    width: 100%;
}
.Cliente-iniciar-int-form input[type=submit] {
    background: #0c378a;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 14px;
    color: #fff;
    font-family: Roboto-Bold;
    padding: 12px 20px;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    -ms-transition: 0.3s;
    transition: 0.3s;
    width: 150px;
}
.Cliente-iniciar-int-form a {
    color: #f93b3b;
    font-size: 12px;
    font-family: Roboto-Bold;
}