@import url(https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css);

.cj_notificacion{
    background-color: rgba(0, 0, 0, 0.64);
    position:fixed;
    top:0;
    bottom:0;
    left:0;
    right:0;
    z-index:10000;
    height: 100%;
    width: 100%;
}

.margin, p, .flag {
	margin-bottom: 24px;
 	margin-top: 0;
}
.margin:last-child, p:last-child, .flag:last-child {
 	margin-bottom: 0;
}

.flag {
  display: table;
  width: 100%;
}

.flag__image,
.flag__body {
  display: table-cell;
  vertical-align: middle;
}
.flag--top .flag__image, .flag--top
.flag__body {
  vertical-align: top;
}
.flag--bottom .flag__image, .flag--bottom
.flag__body {
  vertical-align: bottom;
}

.flag__image {
  padding-right: 24px;
}
.flag__image > img {
  display: block;
  max-width: none;
}
.flag--rev .flag__image {
  padding-right: 0;
  padding-left: 24px;
}

.flag__body {
  width: 100%;
}

.note {
  position: fixed;
  top: 50%;
  overflow: hidden;
  color: white;
  background-color: #9b59b6;
  width: 60%;
  margin-left: 20%;
}

.note--secondary {
  background-color: #34495e;
}

.note--success {
  background-color: #27ae60;
}

.note--warning {
  background-color: #f39c12;
}

.note--error {
  background-color: #e74c3c;
}

.note--info {
  background-color: #3498db;
}

.note__icon,
.note__text {
  padding: 24px;
}

.note__icon {
	background-color: rgba(0, 0, 0, 0.25);
  	min-width: 80px;
  	text-align: center;
  	font-size: 32px;
  	font-size: 2rem;
}

.note__text {
  padding-right: 48px;
}

.note__close {
  background-color: rgba(0, 0, 0, 0.25);
  color: white;
  font-size: 24px;
  line-height: 30px;
  opacity: 0;
  position: absolute;
  right: 12px;
  text-align: center;
  top: 12px;
  transition: all 0.25s;
  width: 29px;
}
.note__close:hover {
  background-color: rgba(0, 0, 0, 0.15);
}
.note:hover .note__close {
  opacity: 1;
}

@media screen and (max-width: 600px) {
	.note{
		width: 100%;
		margin: 0;
	}
	.note__text{
		font-size: 12px;
		padding-right: 10px;
	}
	.note__icon{
		font-size: 25px;
	}
	.note__icon, .note__text {
	    padding: 15px;
	}
	.note__close{
		font-size: 15px;
		line-height: 20px;
		right: 4px;
		top: 4px;
		width: 20px
	}
}