.container{
  margin-top: 5px;
  position: relative;
}
.pct{
  position: absolute;
  line-height: 16;
  left: 50px;
}
#svg circle {
  stroke-dashoffset: 0;
  transition: stroke-dashoffset 1s linear;
  stroke: #666;
  stroke-width: 1em;
}
#svg #bar {
  stroke: #00bfa5;
}